In [2]:
!pip install bokeh

Requirement already satisfied: bokeh in c:\users\matth\anaconda3\lib\site-packages (3.2.1)
Requirement already satisfied: Jinja2>=2.9 in c:\users\matth\anaconda3\lib\site-packages (from bokeh) (3.1.2)
Requirement already satisfied: contourpy>=1 in c:\users\matth\anaconda3\lib\site-packages (from bokeh) (1.0.5)
Requirement already satisfied: numpy>=1.16 in c:\users\matth\anaconda3\lib\site-packages (from bokeh) (1.24.3)
Requirement already satisfied: packaging>=16.8 in c:\users\matth\anaconda3\lib\site-packages (from bokeh) (23.0)
Requirement already satisfied: pandas>=1.2 in c:\users\matth\anaconda3\lib\site-packages (from bokeh) (1.5.3)
Requirement already satisfied: pillow>=7.1.0 in c:\users\matth\anaconda3\lib\site-packages (from bokeh) (9.4.0)
Requirement already satisfied: PyYAML>=3.10 in c:\users\matth\anaconda3\lib\site-packages (from bokeh) (6.0)
Requirement already satisfied: tornado>=5.1 in c:\users\matth\anaconda3\lib\site-packages (from bokeh) (6.3.2)
Requirement already satisfied: xyzservices>=2021.09.1 in c:\users\matth\anaconda3\lib\site-packages (from bokeh) (2022.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\matth\anaconda3\lib\site-packages (from Jinja2>=2.9->bokeh) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\matth\anaconda3\lib\site-packages (from pandas>=1.2->bokeh) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\matth\anaconda3\lib\site-packages (from pandas>=1.2->bokeh) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\matth\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.2->bokeh) (1.16.0)

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.stats import linregress
from bokeh.plotting import figure, output_notebook, show

In [4]:
MLBpath = "Clean_Data/MLB_Wins_01_18_Clean.csv"
BBallpath = "Clean_Data/Basketball_Wins_01_18_Clean.csv"
Hockeypath = "Clean_Data/Hockey_Wins_Clean.csv"
MLSpath = "Clean_Data/MLS_Wins_01_18_Clean.csv"
Footballpath = "Clean_Data/Football_Wins_01_18_Clean.csv"
MainPath = "Sports_Teams_File.csv"
TitlesPath = "Clean_Data/cleanTitles.csv"
EconFile = "US_Can_Econ_Data.csv"
MLBdf = pd.read_csv(MLBpath)
BBalldf = pd.read_csv(BBallpath)
Hockeydf = pd.read_csv(Hockeypath)
MLSdf = pd.read_csv(MLSpath)
Footballdf = pd.read_csv(Footballpath)
Maindf = pd.read_csv(MainPath)
Titlesdf = pd.read_csv(TitlesPath)

In [5]:
MLBdf.head()

   Season  Wins  Loss                  Team  Matches  Percentage
0    2001    75    87    Los Angeles Angels      162       0.463
1    2001    92    70  Arizona Diamondbacks      162       0.568
2    2001    88    74        Atlanta Braves      162       0.543
3    2001    63    98     Baltimore Orioles      161       0.391
4    2001    82    79        Boston Red Sox      161       0.509

In [6]:
MLSdf.head()

   Season             Team  Matches  Wins  Ties  Loss LgRank  Percentage
0    2017      Atlanta Utd       34    15    10     9    4th       0.588
1    2018      Atlanta Utd       34    21     6     7    2nd       0.706
2    2001  Chicago Fire FC       27    16     5     6    2nd       0.685
3    2002  Chicago Fire FC       28    11     4    13    7th       0.464
4    2003  Chicago Fire FC       30    15     8     7    1st       0.633

In [7]:
BBalldf.head()

   Season                 Team  Matches  Wins  Loss  Percentage
0    2001        Atlanta Hawks       82    33    49       0.402
1    2001       Boston Celtics       82    49    33       0.598
2    2001    Charlotte Hornets       82    44    38       0.537
3    2001        Chicago Bulls       82    21    61       0.256
4    2001  Cleveland Cavaliers       82    29    53       0.354

In [8]:
Hockeydf.head()

,Season,Team,Matches,Wins,Loss,Ties,Over_Time_Loss,Percentage
0,2006,Anaheim Ducks,82,48,20,NaN,14,0.585
1,2007,Anaheim Ducks,82,47,27,NaN,8,0.573
2,2008,Anaheim Ducks,82,42,33,NaN,7,0.512
3,2009,Anaheim Ducks,82,39,32,NaN,11,0.476
4,2010,Anaheim Ducks,82,47,30,NaN,5,0.573

In [9]:
Footballdf.head()

   Season               Team  Wins  Loss  Ties  Percentage
0    2001  Arizona Cardinals     7     9     0       0.438
1    2002  Arizona Cardinals     5    11     0       0.313
2    2003  Arizona Cardinals     4    12     0       0.250
3    2004  Arizona Cardinals     6    10     0       0.375
4    2005  Arizona Cardinals     5    11     0       0.313

In [10]:
Titlesdf.head()

,year,sport,winner,winner_metro,winner_state,runner_up,runner_up_metro,runner_up_state,final_four3,final_four3_metro,final_four3_state,final_four4,final_four4_metro,final_four4_state
0,2001,NFL,Baltimore Ravens,Baltimore,MD,New York Giants,New York,NY,Oakland Raiders,San Francisco,CA,Minnesota Vikings,Twin Cities,MN
1,2001,NBA,Los Angeles Lakers,Los Angeles,CA,Philadelphia 76ers,Philadelphia,PA,Milwaukee Bucks,Milwaukee,WI,San Antonio Spurs,San Antonio,TX
2,2001,NHL,Colorado Avalanche,Denver,CO,New Jersey Devils,New York,NY,St. Louis Blues,St. Louis,MO,Pittsburgh Penguins,Pittsburgh,PA
3,2001,MLS,San Jose Earthquakes,San Jose-Santa Clara,CA,LA Galaxy,Los Angeles,CA,Chicago Fire,Chicago,IL,Miami Fusion,Miami,FL
4,2001,MLB,Arizona Diamondbacks,Phoenix,AZ,New York Yankees,New York,NY,Seattle Mariners,Seattle,WA,Atlanta Braves,Atlanta,GA

In [11]:
Maindf.head()

  Sport       City          State                  Team Years Played
0   MLB    Phoenix        Arizona  Arizona Diamondbacks    2001-2018
1   MLB    Atlanta        Georgia        Atlanta Braves    2001-2018
2   MLB  Baltimore       Maryland     Baltimore Orioles    2001-2018
3   MLB     Boston  Massachusetts        Boston Red Sox    2001-2018
4   MLB    Chicago       Illinois     Chicago White Sox    2001-2018

In [12]:
MainNFL = Maindf[(Maindf["Sport"] == "NFL")]
MainNBA = Maindf[(Maindf["Sport"] == "NBA")]
MainMLB = Maindf[(Maindf["Sport"] == "MLB")]
MainMLS = Maindf[(Maindf["Sport"] == "MLS")]
MainNHL = Maindf[(Maindf["Sport"] == "NHL")]

FinalMainNFL = pd.merge(MainNFL, Footballdf, on = "Team", how = "left")
FinalMainNBA = pd.merge(MainNBA, BBalldf, on = "Team", how = "left")
FinalMainMLB = pd.merge(MainMLB, MLBdf, on = "Team", how = "left")
FinalMainMLS = pd.merge(MainMLS, MLSdf, on = "Team", how = "left")
FinalMainNHL = pd.merge(MainNHL, Hockeydf, on = "Team", how = "left")


FinalMainMLS = FinalMainMLS.drop(columns = ["Years Played"])
FinalMainMLB = FinalMainMLB.drop(columns = ["Years Played"])
FinalMainNBA = FinalMainNBA.drop(columns = ["Years Played"])
FinalMainNFL = FinalMainNFL.drop(columns = ["Years Played"])
FinalMainNHL = FinalMainNHL.drop(columns = ["Years Played"])

FinalMainNBA["Ties"] = 0
FinalMainMLB["Ties"] = 0

FinalMainMLS = FinalMainMLS.drop(columns = ["LgRank"])
FinalMainNHL = FinalMainNHL.drop(columns = ["Over_Time_Loss"])


FinalMainMLB["Ties"] = FinalMainMLB["Ties"].fillna(0)
FinalMainMLB["Wins"] = FinalMainMLB["Wins"].fillna(0)
FinalMainMLB["Loss"] = FinalMainMLB["Loss"].fillna(0)
FinalMainMLB["Season"] = FinalMainMLB["Season"].fillna(0)
FinalMainMLB["Percentage"] = FinalMainMLB["Percentage"].fillna(0)
FinalMainNHL["Ties"] = FinalMainNHL["Ties"].fillna(0)
FinalMainNHL["Wins"] = FinalMainNHL["Wins"].fillna(0)
FinalMainNHL["Loss"] = FinalMainNHL["Loss"].fillna(0)
FinalMainNHL["Season"] = FinalMainNHL["Season"].fillna(0)
FinalMainNHL["Percentage"] = FinalMainNHL["Percentage"].fillna(0)
FinalMainNBA["Ties"] = FinalMainNBA["Ties"].fillna(0)
FinalMainNBA["Wins"] = FinalMainNBA["Wins"].fillna(0)
FinalMainNBA["Loss"] = FinalMainNBA["Loss"].fillna(0)
FinalMainNBA["Season"] = FinalMainNBA["Season"].fillna(0)
FinalMainNBA["Percentage"] = FinalMainNBA["Percentage"].fillna(0)
FinalMainNFL["Ties"] = FinalMainNFL["Ties"].fillna(0)
FinalMainNFL["Wins"] = FinalMainNFL["Wins"].fillna(0)
FinalMainNFL["Loss"] = FinalMainNFL["Loss"].fillna(0)
FinalMainNFL["Season"] = FinalMainNFL["Season"].fillna(0)
FinalMainNFL["Percentage"] = FinalMainNFL["Percentage"].fillna(0)
FinalMainMLS["Ties"] = FinalMainMLS["Ties"].fillna(0)
FinalMainMLS["Wins"] = FinalMainMLS["Wins"].fillna(0)
FinalMainMLS["Loss"] = FinalMainMLS["Loss"].fillna(0)
FinalMainMLS["Season"] = FinalMainMLS["Season"].fillna(0)
FinalMainMLS["Percentage"] = FinalMainMLS["Percentage"].fillna(0)

FinalMainMLS.columns.values.tolist()

FinalMainMLS = FinalMainMLS[['Sport','City','State','Team','Season','Wins','Loss','Ties','Percentage']]
FinalMainMLB = FinalMainMLB[['Sport','City','State','Team','Season','Wins','Loss','Ties','Percentage']]
FinalMainNFL = FinalMainNFL[['Sport','City','State','Team','Season','Wins','Loss','Ties','Percentage']]
FinalMainNHL = FinalMainNHL[['Sport','City','State','Team','Season','Wins','Loss','Ties','Percentage']]
FinalMainNBA = FinalMainNBA[['Sport','City','State','Team','Season','Wins','Loss','Ties','Percentage']]


FinalMainMLB = FinalMainMLB.astype({'Wins': 'int64'})
FinalMainMLB = FinalMainMLB.astype({'Loss': 'int64'})
FinalMainMLB = FinalMainMLB.astype({'Season': 'int64'})

FinalMainNHL = FinalMainNHL.astype({'Wins': 'int64'})
FinalMainNHL = FinalMainNHL.astype({'Loss': 'int64'})
FinalMainNHL = FinalMainNHL.astype({'Ties': 'int64'})
FinalMainNHL = FinalMainNHL.astype({'Season': 'int64'})

FinalMainNBA = FinalMainNBA.astype({'Wins': 'int64'})
FinalMainNBA = FinalMainNBA.astype({'Loss': 'int64'})
FinalMainNBA = FinalMainNBA.astype({'Season': 'int64'})

df1 = [FinalMainNHL, FinalMainNFL, FinalMainMLB, FinalMainMLS, FinalMainNBA]
FinalMain = pd.concat(df1)

FinalMain

,Sport,City,State,Team,Season,Wins,Loss,Ties,Percentage
0,NHL,Anaheim,California,Anaheim Ducks,2006,48,20,0,0.585
1,NHL,Anaheim,California,Anaheim Ducks,2007,47,27,0,0.573
2,NHL,Anaheim,California,Anaheim Ducks,2008,42,33,0,0.512
3,NHL,Anaheim,California,Anaheim Ducks,2009,39,32,0,0.476
4,NHL,Anaheim,California,Anaheim Ducks,2010,47,30,0,0.573
...,...,...,...,...,...,...,...,...,...
534,NBA,Washington D.C.,Washington D.C.,Washington Wizards,2014,46,36,0,0.561
535,NBA,Washington D.C.,Washington D.C.,Washington Wizards,2015,41,41,0,0.500
536,NBA,Washington D.C.,Washington D.C.,Washington Wizards,2016,49,33,0,0.598
537,NBA,Washington D.C.,Washington D.C.,Washington Wizards,2017,43,39,0,0.524
538,NBA,Washington D.C.,Washington D.C.,Washington Wizards,2018,32,50,0,0.390

In [13]:
Econdf = pd.read_csv(EconFile)
Econdf = Econdf.drop(columns = ["VAR"])

Econdf
EconLabordf = Econdf[(Econdf["Variable"] == "Employment at place of work")]
EconLaborProductdf = Econdf[(Econdf["Variable"] == "Labour productivity (GDP per worker in USD, constant prices, constant PPP, base year 2015)")]
EconGDPdf = Econdf[(Econdf["Variable"] == "GDP per capita (USD, constant prices, constant PPP, base year 2015)")]
EconGDPdf = EconGDPdf.rename(columns={"TIME":"Season", "Geography":"City"})
EconLabordf = EconLabordf.rename(columns={"TIME":"Season", "Geography":"City"})
EconLaborProductdf = EconLaborProductdf.rename(columns={"TIME":"Season", "Geography":"City"})
EconGDPdf

FinalGDP = FinalMain.merge(EconGDPdf, on = ["Season","City"])
FinalLabor = FinalMain.merge(EconLabordf, on = ["Season","City"])
FinalLaborProductdf = FinalMain.merge(EconLaborProductdf, on = ["Season","City"])

In [14]:
FinalGDP.head(20)

,Sport,City,State,Team,Season,Wins,Loss,Ties,Percentage,Country,Variable,Value
0,NHL,Atlanta,Georgia,Atlanta Thrashers,2001,19,47,11,0.299,United States,"GDP per capita (USD, constant prices, constant...",64336
1,NFL,Atlanta,Georgia,Atlanta Falcons,2001,7,9,0,0.438,United States,"GDP per capita (USD, constant prices, constant...",64336
2,MLB,Atlanta,Georgia,Atlanta Braves,2001,88,74,0,0.543,United States,"GDP per capita (USD, constant prices, constant...",64336
3,NBA,Atlanta,Georgia,Atlanta Hawks,2001,33,49,0,0.402,United States,"GDP per capita (USD, constant prices, constant...",64336
4,NHL,Atlanta,Georgia,Atlanta Thrashers,2002,31,39,7,0.421,United States,"GDP per capita (USD, constant prices, constant...",63886
5,NFL,Atlanta,Georgia,Atlanta Falcons,2002,9,6,1,0.594,United States,"GDP per capita (USD, constant prices, constant...",63886
6,MLB,Atlanta,Georgia,Atlanta Braves,2002,101,59,0,0.631,United States,"GDP per capita (USD, constant prices, constant...",63886
7,NBA,Atlanta,Georgia,Atlanta Hawks,2002,35,47,0,0.427,United States,"GDP per capita (USD, constant prices, constant...",63886
8,NHL,Atlanta,Georgia,Atlanta Thrashers,2003,33,37,8,0.451,United States,"GDP per capita (USD, constant prices, constant...",64511
9,NFL,Atlanta,Georgia,Atlanta Falcons,2003,5,11,0,0.313,United States,"GDP per capita (USD, constant prices, constant...",64511
10,MLB,Atlanta,Georgia,Atlanta Braves,2003,101,61,0,0.623,United States,"GDP per capita (USD, constant prices, constant...",64511
11,NBA,Atlanta,Georgia,Atlanta Hawks,2003,28,54,0,0.341,United States,"GDP per capita (USD, constant prices, constant...",64511
12,NHL,Atlanta,Georgia,Atlanta Thrashers,2005,41,33,0,0.500,United States,"GDP per capita (USD, constant prices, constant...",66977
13,NFL,Atlanta,Georgia,Atlanta Falcons,2005,8,8,0,0.500,United States,"GDP per capita (USD, constant prices, constant...",66977
14,MLB,Atlanta,Georgia,Atlanta Braves,2005,90,72,0,0.556,United States,"GDP per capita (USD, constant prices, constant...",66977
15,NBA,Atlanta,Georgia,Atlanta Hawks,2005,26,56,0,0.317,United States,"GDP per capita (USD, constant prices, constant...",66977
16,NHL,Atlanta,Georgia,Atlanta Thrashers,2006,43,28,0,0.524,United States,"GDP per capita (USD, constant prices, constant...",65595
17,NFL,Atlanta,Georgia,Atlanta Falcons,2006,7,9,0,0.438,United States,"GDP per capita (USD, constant prices, constant...",65595
18,MLB,Atlanta,Georgia,Atlanta Braves,2006,79,83,0,0.488,United States,"GDP per capita (USD, constant prices, constant...",65595
19,NBA,Atlanta,Georgia,Atlanta Hawks,2006,30,52,0,0.366,United States,"GDP per capita (USD, constant prices, constant...",65595

In [15]:
FinalLabor.head(20)

,Sport,City,State,Team,Season,Wins,Loss,Ties,Percentage,Country,Variable,Value
0,NHL,Atlanta,Georgia,Atlanta Thrashers,2001,19,47,11,0.299,United States,Employment at place of work,2686719
1,NFL,Atlanta,Georgia,Atlanta Falcons,2001,7,9,0,0.438,United States,Employment at place of work,2686719
2,MLB,Atlanta,Georgia,Atlanta Braves,2001,88,74,0,0.543,United States,Employment at place of work,2686719
3,NBA,Atlanta,Georgia,Atlanta Hawks,2001,33,49,0,0.402,United States,Employment at place of work,2686719
4,NHL,Atlanta,Georgia,Atlanta Thrashers,2002,31,39,7,0.421,United States,Employment at place of work,2670925
5,NFL,Atlanta,Georgia,Atlanta Falcons,2002,9,6,1,0.594,United States,Employment at place of work,2670925
6,MLB,Atlanta,Georgia,Atlanta Braves,2002,101,59,0,0.631,United States,Employment at place of work,2670925
7,NBA,Atlanta,Georgia,Atlanta Hawks,2002,35,47,0,0.427,United States,Employment at place of work,2670925
8,NHL,Atlanta,Georgia,Atlanta Thrashers,2003,33,37,8,0.451,United States,Employment at place of work,2687530
9,NFL,Atlanta,Georgia,Atlanta Falcons,2003,5,11,0,0.313,United States,Employment at place of work,2687530
10,MLB,Atlanta,Georgia,Atlanta Braves,2003,101,61,0,0.623,United States,Employment at place of work,2687530
11,NBA,Atlanta,Georgia,Atlanta Hawks,2003,28,54,0,0.341,United States,Employment at place of work,2687530
12,NHL,Atlanta,Georgia,Atlanta Thrashers,2005,41,33,0,0.500,United States,Employment at place of work,2876385
13,NFL,Atlanta,Georgia,Atlanta Falcons,2005,8,8,0,0.500,United States,Employment at place of work,2876385
14,MLB,Atlanta,Georgia,Atlanta Braves,2005,90,72,0,0.556,United States,Employment at place of work,2876385
15,NBA,Atlanta,Georgia,Atlanta Hawks,2005,26,56,0,0.317,United States,Employment at place of work,2876385
16,NHL,Atlanta,Georgia,Atlanta Thrashers,2006,43,28,0,0.524,United States,Employment at place of work,2989335
17,NFL,Atlanta,Georgia,Atlanta Falcons,2006,7,9,0,0.438,United States,Employment at place of work,2989335
18,MLB,Atlanta,Georgia,Atlanta Braves,2006,79,83,0,0.488,United States,Employment at place of work,2989335
19,NBA,Atlanta,Georgia,Atlanta Hawks,2006,30,52,0,0.366,United States,Employment at place of work,2989335

In [16]:
FinalLaborProductdf.head(20)

,Sport,City,State,Team,Season,Wins,Loss,Ties,Percentage,Country,Variable,Value
0,NHL,Atlanta,Georgia,Atlanta Thrashers,2001,19,47,11,0.299,United States,"Labour productivity (GDP per worker in USD, co...",120789
1,NFL,Atlanta,Georgia,Atlanta Falcons,2001,7,9,0,0.438,United States,"Labour productivity (GDP per worker in USD, co...",120789
2,MLB,Atlanta,Georgia,Atlanta Braves,2001,88,74,0,0.543,United States,"Labour productivity (GDP per worker in USD, co...",120789
3,NBA,Atlanta,Georgia,Atlanta Hawks,2001,33,49,0,0.402,United States,"Labour productivity (GDP per worker in USD, co...",120789
4,NHL,Atlanta,Georgia,Atlanta Thrashers,2002,31,39,7,0.421,United States,"Labour productivity (GDP per worker in USD, co...",122340
5,NFL,Atlanta,Georgia,Atlanta Falcons,2002,9,6,1,0.594,United States,"Labour productivity (GDP per worker in USD, co...",122340
6,MLB,Atlanta,Georgia,Atlanta Braves,2002,101,59,0,0.631,United States,"Labour productivity (GDP per worker in USD, co...",122340
7,NBA,Atlanta,Georgia,Atlanta Hawks,2002,35,47,0,0.427,United States,"Labour productivity (GDP per worker in USD, co...",122340
8,NHL,Atlanta,Georgia,Atlanta Thrashers,2003,33,37,8,0.451,United States,"Labour productivity (GDP per worker in USD, co...",124485
9,NFL,Atlanta,Georgia,Atlanta Falcons,2003,5,11,0,0.313,United States,"Labour productivity (GDP per worker in USD, co...",124485
10,MLB,Atlanta,Georgia,Atlanta Braves,2003,101,61,0,0.623,United States,"Labour productivity (GDP per worker in USD, co...",124485
11,NBA,Atlanta,Georgia,Atlanta Hawks,2003,28,54,0,0.341,United States,"Labour productivity (GDP per worker in USD, co...",124485
12,NHL,Atlanta,Georgia,Atlanta Thrashers,2005,41,33,0,0.500,United States,"Labour productivity (GDP per worker in USD, co...",129708
13,NFL,Atlanta,Georgia,Atlanta Falcons,2005,8,8,0,0.500,United States,"Labour productivity (GDP per worker in USD, co...",129708
14,MLB,Atlanta,Georgia,Atlanta Braves,2005,90,72,0,0.556,United States,"Labour productivity (GDP per worker in USD, co...",129708
15,NBA,Atlanta,Georgia,Atlanta Hawks,2005,26,56,0,0.317,United States,"Labour productivity (GDP per worker in USD, co...",129708
16,NHL,Atlanta,Georgia,Atlanta Thrashers,2006,43,28,0,0.524,United States,"Labour productivity (GDP per worker in USD, co...",126717
17,NFL,Atlanta,Georgia,Atlanta Falcons,2006,7,9,0,0.438,United States,"Labour productivity (GDP per worker in USD, co...",126717
18,MLB,Atlanta,Georgia,Atlanta Braves,2006,79,83,0,0.488,United States,"Labour productivity (GDP per worker in USD, co...",126717
19,NBA,Atlanta,Georgia,Atlanta Hawks,2006,30,52,0,0.366,United States,"Labour productivity (GDP per worker in USD, co...",126717

In [17]:
output_notebook()

In [18]:
EconGDPdf

,Country,City,Variable,Season,Value
18,United States,Salt Lake,"GDP per capita (USD, constant prices, constant...",2001,49623
19,United States,Salt Lake,"GDP per capita (USD, constant prices, constant...",2002,50222
20,United States,Salt Lake,"GDP per capita (USD, constant prices, constant...",2003,50310
21,United States,Salt Lake,"GDP per capita (USD, constant prices, constant...",2004,52758
22,United States,Salt Lake,"GDP per capita (USD, constant prices, constant...",2005,55278
...,...,...,...,...,...
9659,United States,Polk,"GDP per capita (USD, constant prices, constant...",2014,69684
9660,United States,Polk,"GDP per capita (USD, constant prices, constant...",2015,75229
9661,United States,Polk,"GDP per capita (USD, constant prices, constant...",2016,76383
9662,United States,Polk,"GDP per capita (USD, constant prices, constant...",2017,73231
9663,United States,Polk,"GDP per capita (USD, constant prices, constant...",2018,73390

In [19]:
FinalGDP.sort_values(by='Percentage', ascending = False)

FinalGDP2001 = FinalGDP[(FinalGDP["Season"] == 2001)]
FinalGDP2002 = FinalGDP[(FinalGDP["Season"] == 2002)]
FinalGDP2003 = FinalGDP[(FinalGDP["Season"] == 2003)]
FinalGDP2004 = FinalGDP[(FinalGDP["Season"] == 2004)]
FinalGDP2005 = FinalGDP[(FinalGDP["Season"] == 2005)]
FinalGDP2006 = FinalGDP[(FinalGDP["Season"] == 2006)]
FinalGDP2007 = FinalGDP[(FinalGDP["Season"] == 2007)]
FinalGDP2008 = FinalGDP[(FinalGDP["Season"] == 2008)]
FinalGDP2009 = FinalGDP[(FinalGDP["Season"] == 2009)]
FinalGDP2010 = FinalGDP[(FinalGDP["Season"] == 2010)]
FinalGDP2011 = FinalGDP[(FinalGDP["Season"] == 2011)]
FinalGDP2012 = FinalGDP[(FinalGDP["Season"] == 2012)]
FinalGDP2013 = FinalGDP[(FinalGDP["Season"] == 2013)]
FinalGDP2014 = FinalGDP[(FinalGDP["Season"] == 2014)]
FinalGDP2015 = FinalGDP[(FinalGDP["Season"] == 2015)]
FinalGDP2016 = FinalGDP[(FinalGDP["Season"] == 2016)]
FinalGDP2017 = FinalGDP[(FinalGDP["Season"] == 2017)]
FinalGDP2018 = FinalGDP[(FinalGDP["Season"] == 2018)]

FinalGDP2001

,Sport,City,State,Team,Season,Wins,Loss,Ties,Percentage,Country,Variable,Value
0,NHL,Atlanta,Georgia,Atlanta Thrashers,2001,19,47,11,0.299,United States,"GDP per capita (USD, constant prices, constant...",64336
1,NFL,Atlanta,Georgia,Atlanta Falcons,2001,7,9,0,0.438,United States,"GDP per capita (USD, constant prices, constant...",64336
2,MLB,Atlanta,Georgia,Atlanta Braves,2001,88,74,0,0.543,United States,"GDP per capita (USD, constant prices, constant...",64336
3,NBA,Atlanta,Georgia,Atlanta Hawks,2001,33,49,0,0.402,United States,"GDP per capita (USD, constant prices, constant...",64336
36,NHL,Boston,Massachusetts,Boston Bruins,2001,43,24,6,0.561,United States,"GDP per capita (USD, constant prices, constant...",71659
...,...,...,...,...,...,...,...,...,...,...,...,...
1158,MLS,Providence,Rhode Island,New England Revolution,2001,7,14,6,0.370,United States,"GDP per capita (USD, constant prices, constant...",43505
1192,NBA,Memphis,Tennessee,Memphis Grizzlies,2001,23,59,0,0.280,United States,"GDP per capita (USD, constant prices, constant...",51428
1210,NBA,Portland,Oregon,Portland Trail Blazers,2001,49,33,0,0.598,United States,"GDP per capita (USD, constant prices, constant...",53056
1220,NBA,Sacramento,California,Sacramento Kings,2001,61,21,0,0.744,United States,"GDP per capita (USD, constant prices, constant...",49056
1238,NBA,San Antonio,Texas,San Antonio Spurs,2001,58,24,0,0.707,United States,"GDP per capita (USD, constant prices, constant...",39840

In [32]:
ByCity = FinalGDP.groupby("City")['Percentage'].mean()
ByCity.sort_values()
##ByCity.sort_values(by="Percentage")

City
Jacksonville    0.396111
Edmonton        0.428941
Sacramento      0.439889
Charlotte       0.457971
Milwaukee       0.469083
Minneapolis     0.471870
Memphis         0.474833
Cincinnati      0.478222
Toronto         0.481692
Phoenix         0.484458
Providence      0.487333
Columbus        0.488286
San Diego       0.495441
Calgary         0.497471
Nashville       0.499457
Chicago         0.499991
St. Louis       0.500960
Atlanta         0.501862
Ottawa          0.505765
Winnipeg        0.506000
Houston         0.508924
Montreal        0.509412
Vancouver       0.511200
New Orleans     0.511743
Denver          0.513465
Portland        0.523154
Seattle         0.532000
Dallas          0.546282
Pittsburgh      0.549302
Boston          0.552849
Las Vegas       0.573000
Indianapolis    0.580389
San Antonio     0.702000
Name: Percentage, dtype: float64

In [96]:
top = ["San Antonio", "Indianapolis", "Dallas", "Boston", "Pittsburgh"]
bottom = ["Jacksonville", "Minneapolis", "Sacramento", "Charlotte", "Milwaukee"]
topdict = {}
botdict = {}
i = 1

for row in FinalGDP.iterrows():
    if i < len(FinalGDP):
        if row[i][1] in top:
            if row[i][1] not in topdict:
                topdict[row[i][1]] = {row[i][4]: row[i][11]}
            elif row[i][1] in topdict:
               topdict[row[i][1]].update({row[i][4]: row[i][11]})
        if row[i][1] in bottom:
            if row[i][1] not in botdict:
                botdict[row[i][1]] = {row[i][4]: row[i][11]}
            elif row[i][1] in botdict:
               botdict[row[i][1]].update({row[i][4]: row[i][11]})
i = i + 1

In [97]:
topdict

{'Boston': {2001: 71659,
  2002: 71282,
  2003: 72170,
  2005: 75953,
  2006: 77623,
  2007: 79787,
  2008: 79792,
  2009: 78644,
  2010: 81405,
  2011: 81718,
  2012: 82903,
  2013: 82610,
  2014: 83295,
  2015: 87060,
  2016: 88688,
  2017: 89833,
  2018: 93218,
  2004: 74310},
 'Dallas': {2001: 54972,
  2002: 55184,
  2003: 54901,
  2005: 58417,
  2006: 60994,
  2007: 61494,
  2008: 61182,
  2009: 56679,
  2010: 57205,
  2011: 58203,
  2012: 58906,
  2013: 59825,
  2014: 60715,
  2015: 61603,
  2016: 62153,
  2017: 62924,
  2018: 64322,
  2004: 56770},
 'Pittsburgh': {2001: 53467,
  2002: 54596,
  2003: 56344,
  2005: 58871,
  2006: 58699,
  2007: 60636,
  2008: 61592,
  2009: 61536,
  2010: 64061,
  2011: 64997,
  2012: 66284,
  2013: 67122,
  2014: 68294,
  2015: 70994,
  2016: 70814,
  2017: 73387,
  2018: 76315,
  2004: 58079},
 'Indianapolis': {2001: 57381,
  2002: 57306,
  2003: 58420,
  2004: 60513,
  2005: 60187,
  2006: 60815,
  2007: 62016,
  2008: 62854,
  2009: 62348,
  2010: 63252,
  2011: 62939,
  2012: 62502,
  2013: 63620,
  2014: 64451,
  2015: 63350,
  2016: 64421,
  2017: 64200,
  2018: 65836},
 'San Antonio': {2001: 39840,
  2002: 40288,
  2003: 41204,
  2004: 41716,
  2005: 42492,
  2006: 43660,
  2007: 43665,
  2008: 42920,
  2009: 41522,
  2010: 42161,
  2011: 43042,
  2012: 43501,
  2013: 44782,
  2014: 46191,
  2015: 47262,
  2016: 47057,
  2017: 46420,
  2018: 47851}}

In [137]:
top_df = pd.DataFrame(topdict).T
#top_df.columns.tolist()
top_df = top_df[[2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,]]

In [138]:
botdict

{'Charlotte': {2001: 62341,
  2002: 62602,
  2003: 64034,
  2004: 66293,
  2005: 69138,
  2006: 71442,
  2007: 69697,
  2008: 72023,
  2009: 64362,
  2010: 60963,
  2011: 62859,
  2012: 65967,
  2013: 64369,
  2014: 65415,
  2015: 67627,
  2016: 68670,
  2017: 71024,
  2018: 70944},
 'Jacksonville': {2001: 46415,
  2002: 47263,
  2003: 48722,
  2004: 49848,
  2005: 50953,
  2006: 51559,
  2007: 51693,
  2008: 49119,
  2009: 46887,
  2010: 46125,
  2011: 45026,
  2012: 45076,
  2013: 45923,
  2014: 46368,
  2015: 47909,
  2016: 48919,
  2017: 49715,
  2018: 50406},
 'Minneapolis': {2001: 60413,
  2002: 60670,
  2003: 62867,
  2004: 65028,
  2005: 66811,
  2006: 65632,
  2007: 65868,
  2008: 64563,
  2009: 62291,
  2010: 63433,
  2011: 64313,
  2012: 64967,
  2013: 66057,
  2014: 67832,
  2015: 69224,
  2016: 69702,
  2017: 69963,
  2018: 71641},
 'Milwaukee': {2001: 55212,
  2002: 54781,
  2003: 55661,
  2004: 56443,
  2005: 58181,
  2006: 59354,
  2007: 59424,
  2008: 57786,
  2009: 56710,
  2010: 57407,
  2011: 58000,
  2012: 58393,
  2013: 58411,
  2014: 58425,
  2015: 59814,
  2016: 60363,
  2017: 60118,
  2018: 61267},
 'Sacramento': {2001: 49056,
  2002: 49352,
  2003: 50389,
  2004: 51353,
  2005: 52912,
  2006: 53719,
  2007: 53663,
  2008: 52413,
  2009: 50706,
  2010: 49292,
  2011: 49269,
  2012: 49354,
  2013: 50543,
  2014: 51260,
  2015: 53317,
  2016: 53777,
  2017: 54481,
  2018: 56027}}

In [139]:
bot_df = pd.DataFrame(botdict).T
bot_df

,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Charlotte,62341,62602,64034,66293,69138,71442,69697,72023,64362,60963,62859,65967,64369,65415,67627,68670,71024,70944
Jacksonville,46415,47263,48722,49848,50953,51559,51693,49119,46887,46125,45026,45076,45923,46368,47909,48919,49715,50406
Minneapolis,60413,60670,62867,65028,66811,65632,65868,64563,62291,63433,64313,64967,66057,67832,69224,69702,69963,71641
Milwaukee,55212,54781,55661,56443,58181,59354,59424,57786,56710,57407,58000,58393,58411,58425,59814,60363,60118,61267
Sacramento,49056,49352,50389,51353,52912,53719,53663,52413,50706,49292,49269,49354,50543,51260,53317,53777,54481,56027

In [157]:
frames = [top_df, bot_df]
city_main_df = pd.concat(frames)
city_main_df = city_main_df.T
city_main_df

#years = city_main_df.columns.tolist()
#years

,Boston,Dallas,Pittsburgh,Indianapolis,San Antonio,Charlotte,Jacksonville,Minneapolis,Milwaukee,Sacramento
2001,71659,54972,53467,57381,39840,62341,46415,60413,55212,49056
2002,71282,55184,54596,57306,40288,62602,47263,60670,54781,49352
2003,72170,54901,56344,58420,41204,64034,48722,62867,55661,50389
2004,74310,56770,58079,60513,41716,66293,49848,65028,56443,51353
2005,75953,58417,58871,60187,42492,69138,50953,66811,58181,52912
2006,77623,60994,58699,60815,43660,71442,51559,65632,59354,53719
2007,79787,61494,60636,62016,43665,69697,51693,65868,59424,53663
2008,79792,61182,61592,62854,42920,72023,49119,64563,57786,52413
2009,78644,56679,61536,62348,41522,64362,46887,62291,56710,50706
2010,81405,57205,64061,63252,42161,60963,46125,63433,57407,49292
2011,81718,58203,64997,62939,43042,62859,45026,64313,58000,49269
2012,82903,58906,66284,62502,43501,65967,45076,64967,58393,49354
2013,82610,59825,67122,63620,44782,64369,45923,66057,58411,50543
2014,83295,60715,68294,64451,46191,65415,46368,67832,58425,51260
2015,87060,61603,70994,63350,47262,67627,47909,69224,59814,53317
2016,88688,62153,70814,64421,47057,68670,48919,69702,60363,53777
2017,89833,62924,73387,64200,46420,71024,49715,69963,60118,54481
2018,93218,64322,76315,65836,47851,70944,50406,71641,61267,56027

In [156]:
city_main_df[1][1]

KeyError: 1

In [168]:
from bokeh.palettes import Spectral4
from bokeh.plotting import figure, show
from bokeh.layouts import column

p.title.text = 'Click on legend entries to mute the corresponding lines'
p = figure(width=800, height=250, x_axis_type="linear")
p.line(years, city_main_df.iloc[:,0] , line_width=2, alpha=0.8, muted_alpha=0.2, legend_label="Boston")
p.line(years, city_main_df.iloc[:,1] , line_width=2, alpha=0.8, muted_alpha=0.2, legend_label="Dallas")
p.line(years, city_main_df.iloc[:,2] , line_width=2, alpha=0.8, muted_alpha=0.2, legend_label="Pittsburgh")
p.line(years, city_main_df.iloc[:,3] , line_width=2, alpha=0.8, muted_alpha=0.2, legend_label="Indianapolis")
p.line(years, city_main_df.iloc[:,4] , line_width=2, alpha=0.8, muted_alpha=0.2, legend_label="San Antonio")
p.line(years, city_main_df.iloc[:,5] , line_width=2, alpha=0.8, muted_alpha=0.2, legend_label="Charlotte")
p.line(years, city_main_df.iloc[:,6] , line_width=2, alpha=0.8, muted_alpha=0.2, legend_label="Jacksonville")
p.line(years, city_main_df.iloc[:,7] , line_width=2, alpha=0.8, muted_alpha=0.2, legend_label="Minneapolis")
p.line(years, city_main_df.iloc[:,8] , line_width=2, alpha=0.8, muted_alpha=0.2, legend_label="Milwaukee")
p.line(years, city_main_df.iloc[:,9] , line_width=2, alpha=0.8, muted_alpha=0.2, legend_label="Sacramento")

p.legend.location = "top_left"
p.legend.click_policy="mute"


show(p)

SyntaxError: invalid syntax (4001343086.py, line 1)

In [20]:
p = figure(width = 400, height = 400)

In [23]:
p.vbar(x = df["Season"], top=df["Wins"], width=1)

GlyphRenderer(id='p1077', ...)

In [24]:
show(p)