In [2]:
!pip install bokeh

Requirement already satisfied: bokeh in c:\users\matth\anaconda3\lib\site-packages (3.2.1)
Requirement already satisfied: Jinja2>=2.9 in c:\users\matth\anaconda3\lib\site-packages (from bokeh) (3.1.2)
Requirement already satisfied: contourpy>=1 in c:\users\matth\anaconda3\lib\site-packages (from bokeh) (1.0.5)
Requirement already satisfied: numpy>=1.16 in c:\users\matth\anaconda3\lib\site-packages (from bokeh) (1.24.3)
Requirement already satisfied: packaging>=16.8 in c:\users\matth\anaconda3\lib\site-packages (from bokeh) (23.0)
Requirement already satisfied: pandas>=1.2 in c:\users\matth\anaconda3\lib\site-packages (from bokeh) (1.5.3)
Requirement already satisfied: pillow>=7.1.0 in c:\users\matth\anaconda3\lib\site-packages (from bokeh) (9.4.0)
Requirement already satisfied: PyYAML>=3.10 in c:\users\matth\anaconda3\lib\site-packages (from bokeh) (6.0)
Requirement already satisfied: tornado>=5.1 in c:\users\matth\anaconda3\lib\site-packages (from bokeh) (6.3.2)
Requirement already satisfied: xyzservices>=2021.09.1 in c:\users\matth\anaconda3\lib\site-packages (from bokeh) (2022.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\matth\anaconda3\lib\site-packages (from Jinja2>=2.9->bokeh) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\matth\anaconda3\lib\site-packages (from pandas>=1.2->bokeh) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\matth\anaconda3\lib\site-packages (from pandas>=1.2->bokeh) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\matth\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.2->bokeh) (1.16.0)

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.stats import linregress
from bokeh.plotting import figure, output_notebook, show

In [4]:
MLBpath = "Clean_Data/MLB_Wins_01_18_Clean.csv"
BBallpath = "Clean_Data/Basketball_Wins_01_18_Clean.csv"
Hockeypath = "Clean_Data/Hockey_Wins_Clean.csv"
MLSpath = "Clean_Data/MLS_Wins_01_18_Clean.csv"
Footballpath = "Clean_Data/Football_Wins_01_18_Clean.csv"
MainPath = "Sports_Teams_File.csv"
TitlesPath = "Clean_Data/cleanTitles.csv"
EconFile = "US_Can_Econ_Data.csv"
MLBdf = pd.read_csv(MLBpath)
BBalldf = pd.read_csv(BBallpath)
Hockeydf = pd.read_csv(Hockeypath)
MLSdf = pd.read_csv(MLSpath)
Footballdf = pd.read_csv(Footballpath)
Maindf = pd.read_csv(MainPath)
Titlesdf = pd.read_csv(TitlesPath)

In [5]:
MLBdf.head()

   Season  Wins  Loss                  Team  Matches  Percentage
0    2001    75    87    Los Angeles Angels      162       0.463
1    2001    92    70  Arizona Diamondbacks      162       0.568
2    2001    88    74        Atlanta Braves      162       0.543
3    2001    63    98     Baltimore Orioles      161       0.391
4    2001    82    79        Boston Red Sox      161       0.509

In [6]:
MLSdf.head()

   Season             Team  Matches  Wins  Ties  Loss LgRank  Percentage
0    2017      Atlanta Utd       34    15    10     9    4th       0.588
1    2018      Atlanta Utd       34    21     6     7    2nd       0.706
2    2001  Chicago Fire FC       27    16     5     6    2nd       0.685
3    2002  Chicago Fire FC       28    11     4    13    7th       0.464
4    2003  Chicago Fire FC       30    15     8     7    1st       0.633

In [7]:
BBalldf.head()

   Season                 Team  Matches  Wins  Loss  Percentage
0    2001        Atlanta Hawks       82    33    49       0.402
1    2001       Boston Celtics       82    49    33       0.598
2    2001    Charlotte Hornets       82    44    38       0.537
3    2001        Chicago Bulls       82    21    61       0.256
4    2001  Cleveland Cavaliers       82    29    53       0.354

In [8]:
Hockeydf.head()

,Season,Team,Matches,Wins,Loss,Ties,Over_Time_Loss,Percentage
0,2006,Anaheim Ducks,82,48,20,NaN,14,0.585
1,2007,Anaheim Ducks,82,47,27,NaN,8,0.573
2,2008,Anaheim Ducks,82,42,33,NaN,7,0.512
3,2009,Anaheim Ducks,82,39,32,NaN,11,0.476
4,2010,Anaheim Ducks,82,47,30,NaN,5,0.573

In [9]:
Footballdf.head()

   Season               Team  Wins  Loss  Ties  Percentage
0    2001  Arizona Cardinals     7     9     0       0.438
1    2002  Arizona Cardinals     5    11     0       0.313
2    2003  Arizona Cardinals     4    12     0       0.250
3    2004  Arizona Cardinals     6    10     0       0.375
4    2005  Arizona Cardinals     5    11     0       0.313

In [10]:
Titlesdf.head()

,year,sport,winner,winner_metro,winner_state,runner_up,runner_up_metro,runner_up_state,final_four3,final_four3_metro,final_four3_state,final_four4,final_four4_metro,final_four4_state
0,2001,NFL,Baltimore Ravens,Baltimore,MD,New York Giants,New York,NY,Oakland Raiders,San Francisco,CA,Minnesota Vikings,Twin Cities,MN
1,2001,NBA,Los Angeles Lakers,Los Angeles,CA,Philadelphia 76ers,Philadelphia,PA,Milwaukee Bucks,Milwaukee,WI,San Antonio Spurs,San Antonio,TX
2,2001,NHL,Colorado Avalanche,Denver,CO,New Jersey Devils,New York,NY,St. Louis Blues,St. Louis,MO,Pittsburgh Penguins,Pittsburgh,PA
3,2001,MLS,San Jose Earthquakes,San Jose-Santa Clara,CA,LA Galaxy,Los Angeles,CA,Chicago Fire,Chicago,IL,Miami Fusion,Miami,FL
4,2001,MLB,Arizona Diamondbacks,Phoenix,AZ,New York Yankees,New York,NY,Seattle Mariners,Seattle,WA,Atlanta Braves,Atlanta,GA

In [11]:
Maindf.head()

  Sport       City          State                  Team Years Played
0   MLB    Phoenix        Arizona  Arizona Diamondbacks    2001-2018
1   MLB    Atlanta        Georgia        Atlanta Braves    2001-2018
2   MLB  Baltimore       Maryland     Baltimore Orioles    2001-2018
3   MLB     Boston  Massachusetts        Boston Red Sox    2001-2018
4   MLB    Chicago       Illinois     Chicago White Sox    2001-2018

In [12]:
MainNFL = Maindf[(Maindf["Sport"] == "NFL")]
MainNBA = Maindf[(Maindf["Sport"] == "NBA")]
MainMLB = Maindf[(Maindf["Sport"] == "MLB")]
MainMLS = Maindf[(Maindf["Sport"] == "MLS")]
MainNHL = Maindf[(Maindf["Sport"] == "NHL")]

FinalMainNFL = pd.merge(MainNFL, Footballdf, on = "Team", how = "left")
FinalMainNBA = pd.merge(MainNBA, BBalldf, on = "Team", how = "left")
FinalMainMLB = pd.merge(MainMLB, MLBdf, on = "Team", how = "left")
FinalMainMLS = pd.merge(MainMLS, MLSdf, on = "Team", how = "left")
FinalMainNHL = pd.merge(MainNHL, Hockeydf, on = "Team", how = "left")


FinalMainMLS = FinalMainMLS.drop(columns = ["Years Played"])
FinalMainMLB = FinalMainMLB.drop(columns = ["Years Played"])
FinalMainNBA = FinalMainNBA.drop(columns = ["Years Played"])
FinalMainNFL = FinalMainNFL.drop(columns = ["Years Played"])
FinalMainNHL = FinalMainNHL.drop(columns = ["Years Played"])

FinalMainNBA["Ties"] = 0
FinalMainMLB["Ties"] = 0

FinalMainMLS = FinalMainMLS.drop(columns = ["LgRank"])
FinalMainNHL = FinalMainNHL.drop(columns = ["Over_Time_Loss"])


FinalMainMLB["Ties"] = FinalMainMLB["Ties"].fillna(0)
FinalMainMLB["Wins"] = FinalMainMLB["Wins"].fillna(0)
FinalMainMLB["Loss"] = FinalMainMLB["Loss"].fillna(0)
FinalMainMLB["Season"] = FinalMainMLB["Season"].fillna(0)
FinalMainMLB["Percentage"] = FinalMainMLB["Percentage"].fillna(0)
FinalMainNHL["Ties"] = FinalMainNHL["Ties"].fillna(0)
FinalMainNHL["Wins"] = FinalMainNHL["Wins"].fillna(0)
FinalMainNHL["Loss"] = FinalMainNHL["Loss"].fillna(0)
FinalMainNHL["Season"] = FinalMainNHL["Season"].fillna(0)
FinalMainNHL["Percentage"] = FinalMainNHL["Percentage"].fillna(0)
FinalMainNBA["Ties"] = FinalMainNBA["Ties"].fillna(0)
FinalMainNBA["Wins"] = FinalMainNBA["Wins"].fillna(0)
FinalMainNBA["Loss"] = FinalMainNBA["Loss"].fillna(0)
FinalMainNBA["Season"] = FinalMainNBA["Season"].fillna(0)
FinalMainNBA["Percentage"] = FinalMainNBA["Percentage"].fillna(0)
FinalMainNFL["Ties"] = FinalMainNFL["Ties"].fillna(0)
FinalMainNFL["Wins"] = FinalMainNFL["Wins"].fillna(0)
FinalMainNFL["Loss"] = FinalMainNFL["Loss"].fillna(0)
FinalMainNFL["Season"] = FinalMainNFL["Season"].fillna(0)
FinalMainNFL["Percentage"] = FinalMainNFL["Percentage"].fillna(0)
FinalMainMLS["Ties"] = FinalMainMLS["Ties"].fillna(0)
FinalMainMLS["Wins"] = FinalMainMLS["Wins"].fillna(0)
FinalMainMLS["Loss"] = FinalMainMLS["Loss"].fillna(0)
FinalMainMLS["Season"] = FinalMainMLS["Season"].fillna(0)
FinalMainMLS["Percentage"] = FinalMainMLS["Percentage"].fillna(0)

FinalMainMLS.columns.values.tolist()

FinalMainMLS = FinalMainMLS[['Sport','City','State','Team','Season','Wins','Loss','Ties','Percentage']]
FinalMainMLB = FinalMainMLB[['Sport','City','State','Team','Season','Wins','Loss','Ties','Percentage']]
FinalMainNFL = FinalMainNFL[['Sport','City','State','Team','Season','Wins','Loss','Ties','Percentage']]
FinalMainNHL = FinalMainNHL[['Sport','City','State','Team','Season','Wins','Loss','Ties','Percentage']]
FinalMainNBA = FinalMainNBA[['Sport','City','State','Team','Season','Wins','Loss','Ties','Percentage']]


FinalMainMLB = FinalMainMLB.astype({'Wins': 'int64'})
FinalMainMLB = FinalMainMLB.astype({'Loss': 'int64'})
FinalMainMLB = FinalMainMLB.astype({'Season': 'int64'})

FinalMainNHL = FinalMainNHL.astype({'Wins': 'int64'})
FinalMainNHL = FinalMainNHL.astype({'Loss': 'int64'})
FinalMainNHL = FinalMainNHL.astype({'Ties': 'int64'})
FinalMainNHL = FinalMainNHL.astype({'Season': 'int64'})

FinalMainNBA = FinalMainNBA.astype({'Wins': 'int64'})
FinalMainNBA = FinalMainNBA.astype({'Loss': 'int64'})
FinalMainNBA = FinalMainNBA.astype({'Season': 'int64'})

df1 = [FinalMainNHL, FinalMainNFL, FinalMainMLB, FinalMainMLS, FinalMainNBA]
FinalMain = pd.concat(df1)

FinalMain

,Sport,City,State,Team,Season,Wins,Loss,Ties,Percentage
0,NHL,Anaheim,California,Anaheim Ducks,2006,48,20,0,0.585
1,NHL,Anaheim,California,Anaheim Ducks,2007,47,27,0,0.573
2,NHL,Anaheim,California,Anaheim Ducks,2008,42,33,0,0.512
3,NHL,Anaheim,California,Anaheim Ducks,2009,39,32,0,0.476
4,NHL,Anaheim,California,Anaheim Ducks,2010,47,30,0,0.573
...,...,...,...,...,...,...,...,...,...
534,NBA,Washington D.C.,Washington D.C.,Washington Wizards,2014,46,36,0,0.561
535,NBA,Washington D.C.,Washington D.C.,Washington Wizards,2015,41,41,0,0.500
536,NBA,Washington D.C.,Washington D.C.,Washington Wizards,2016,49,33,0,0.598
537,NBA,Washington D.C.,Washington D.C.,Washington Wizards,2017,43,39,0,0.524
538,NBA,Washington D.C.,Washington D.C.,Washington Wizards,2018,32,50,0,0.390

In [13]:
Econdf = pd.read_csv(EconFile)
Econdf = Econdf.drop(columns = ["VAR"])

Econdf
EconLabordf = Econdf[(Econdf["Variable"] == "Employment at place of work")]
EconLaborProductdf = Econdf[(Econdf["Variable"] == "Labour productivity (GDP per worker in USD, constant prices, constant PPP, base year 2015)")]
EconGDPdf = Econdf[(Econdf["Variable"] == "GDP per capita (USD, constant prices, constant PPP, base year 2015)")]
EconGDPdf = EconGDPdf.rename(columns={"TIME":"Season", "Geography":"City"})
EconLabordf = EconLabordf.rename(columns={"TIME":"Season", "Geography":"City"})
EconLaborProductdf = EconLaborProductdf.rename(columns={"TIME":"Season", "Geography":"City"})
EconGDPdf

FinalGDP = FinalMain.merge(EconGDPdf, on = ["Season","City"])
FinalLabor = FinalMain.merge(EconLabordf, on = ["Season","City"])
FinalLaborProductdf = FinalMain.merge(EconLaborProductdf, on = ["Season","City"])

In [14]:
FinalGDP.head(20)

,Sport,City,State,Team,Season,Wins,Loss,Ties,Percentage,Country,Variable,Value
0,NHL,Atlanta,Georgia,Atlanta Thrashers,2001,19,47,11,0.299,United States,"GDP per capita (USD, constant prices, constant...",64336
1,NFL,Atlanta,Georgia,Atlanta Falcons,2001,7,9,0,0.438,United States,"GDP per capita (USD, constant prices, constant...",64336
2,MLB,Atlanta,Georgia,Atlanta Braves,2001,88,74,0,0.543,United States,"GDP per capita (USD, constant prices, constant...",64336
3,NBA,Atlanta,Georgia,Atlanta Hawks,2001,33,49,0,0.402,United States,"GDP per capita (USD, constant prices, constant...",64336
4,NHL,Atlanta,Georgia,Atlanta Thrashers,2002,31,39,7,0.421,United States,"GDP per capita (USD, constant prices, constant...",63886
5,NFL,Atlanta,Georgia,Atlanta Falcons,2002,9,6,1,0.594,United States,"GDP per capita (USD, constant prices, constant...",63886
6,MLB,Atlanta,Georgia,Atlanta Braves,2002,101,59,0,0.631,United States,"GDP per capita (USD, constant prices, constant...",63886
7,NBA,Atlanta,Georgia,Atlanta Hawks,2002,35,47,0,0.427,United States,"GDP per capita (USD, constant prices, constant...",63886
8,NHL,Atlanta,Georgia,Atlanta Thrashers,2003,33,37,8,0.451,United States,"GDP per capita (USD, constant prices, constant...",64511
9,NFL,Atlanta,Georgia,Atlanta Falcons,2003,5,11,0,0.313,United States,"GDP per capita (USD, constant prices, constant...",64511
10,MLB,Atlanta,Georgia,Atlanta Braves,2003,101,61,0,0.623,United States,"GDP per capita (USD, constant prices, constant...",64511
11,NBA,Atlanta,Georgia,Atlanta Hawks,2003,28,54,0,0.341,United States,"GDP per capita (USD, constant prices, constant...",64511
12,NHL,Atlanta,Georgia,Atlanta Thrashers,2005,41,33,0,0.500,United States,"GDP per capita (USD, constant prices, constant...",66977
13,NFL,Atlanta,Georgia,Atlanta Falcons,2005,8,8,0,0.500,United States,"GDP per capita (USD, constant prices, constant...",66977
14,MLB,Atlanta,Georgia,Atlanta Braves,2005,90,72,0,0.556,United States,"GDP per capita (USD, constant prices, constant...",66977
15,NBA,Atlanta,Georgia,Atlanta Hawks,2005,26,56,0,0.317,United States,"GDP per capita (USD, constant prices, constant...",66977
16,NHL,Atlanta,Georgia,Atlanta Thrashers,2006,43,28,0,0.524,United States,"GDP per capita (USD, constant prices, constant...",65595
17,NFL,Atlanta,Georgia,Atlanta Falcons,2006,7,9,0,0.438,United States,"GDP per capita (USD, constant prices, constant...",65595
18,MLB,Atlanta,Georgia,Atlanta Braves,2006,79,83,0,0.488,United States,"GDP per capita (USD, constant prices, constant...",65595
19,NBA,Atlanta,Georgia,Atlanta Hawks,2006,30,52,0,0.366,United States,"GDP per capita (USD, constant prices, constant...",65595

In [15]:
FinalLabor.head(20)

,Sport,City,State,Team,Season,Wins,Loss,Ties,Percentage,Country,Variable,Value
0,NHL,Atlanta,Georgia,Atlanta Thrashers,2001,19,47,11,0.299,United States,Employment at place of work,2686719
1,NFL,Atlanta,Georgia,Atlanta Falcons,2001,7,9,0,0.438,United States,Employment at place of work,2686719
2,MLB,Atlanta,Georgia,Atlanta Braves,2001,88,74,0,0.543,United States,Employment at place of work,2686719
3,NBA,Atlanta,Georgia,Atlanta Hawks,2001,33,49,0,0.402,United States,Employment at place of work,2686719
4,NHL,Atlanta,Georgia,Atlanta Thrashers,2002,31,39,7,0.421,United States,Employment at place of work,2670925
5,NFL,Atlanta,Georgia,Atlanta Falcons,2002,9,6,1,0.594,United States,Employment at place of work,2670925
6,MLB,Atlanta,Georgia,Atlanta Braves,2002,101,59,0,0.631,United States,Employment at place of work,2670925
7,NBA,Atlanta,Georgia,Atlanta Hawks,2002,35,47,0,0.427,United States,Employment at place of work,2670925
8,NHL,Atlanta,Georgia,Atlanta Thrashers,2003,33,37,8,0.451,United States,Employment at place of work,2687530
9,NFL,Atlanta,Georgia,Atlanta Falcons,2003,5,11,0,0.313,United States,Employment at place of work,2687530
10,MLB,Atlanta,Georgia,Atlanta Braves,2003,101,61,0,0.623,United States,Employment at place of work,2687530
11,NBA,Atlanta,Georgia,Atlanta Hawks,2003,28,54,0,0.341,United States,Employment at place of work,2687530
12,NHL,Atlanta,Georgia,Atlanta Thrashers,2005,41,33,0,0.500,United States,Employment at place of work,2876385
13,NFL,Atlanta,Georgia,Atlanta Falcons,2005,8,8,0,0.500,United States,Employment at place of work,2876385
14,MLB,Atlanta,Georgia,Atlanta Braves,2005,90,72,0,0.556,United States,Employment at place of work,2876385
15,NBA,Atlanta,Georgia,Atlanta Hawks,2005,26,56,0,0.317,United States,Employment at place of work,2876385
16,NHL,Atlanta,Georgia,Atlanta Thrashers,2006,43,28,0,0.524,United States,Employment at place of work,2989335
17,NFL,Atlanta,Georgia,Atlanta Falcons,2006,7,9,0,0.438,United States,Employment at place of work,2989335
18,MLB,Atlanta,Georgia,Atlanta Braves,2006,79,83,0,0.488,United States,Employment at place of work,2989335
19,NBA,Atlanta,Georgia,Atlanta Hawks,2006,30,52,0,0.366,United States,Employment at place of work,2989335

In [16]:
FinalLaborProductdf.head(20)

,Sport,City,State,Team,Season,Wins,Loss,Ties,Percentage,Country,Variable,Value
0,NHL,Atlanta,Georgia,Atlanta Thrashers,2001,19,47,11,0.299,United States,"Labour productivity (GDP per worker in USD, co...",120789
1,NFL,Atlanta,Georgia,Atlanta Falcons,2001,7,9,0,0.438,United States,"Labour productivity (GDP per worker in USD, co...",120789
2,MLB,Atlanta,Georgia,Atlanta Braves,2001,88,74,0,0.543,United States,"Labour productivity (GDP per worker in USD, co...",120789
3,NBA,Atlanta,Georgia,Atlanta Hawks,2001,33,49,0,0.402,United States,"Labour productivity (GDP per worker in USD, co...",120789
4,NHL,Atlanta,Georgia,Atlanta Thrashers,2002,31,39,7,0.421,United States,"Labour productivity (GDP per worker in USD, co...",122340
5,NFL,Atlanta,Georgia,Atlanta Falcons,2002,9,6,1,0.594,United States,"Labour productivity (GDP per worker in USD, co...",122340
6,MLB,Atlanta,Georgia,Atlanta Braves,2002,101,59,0,0.631,United States,"Labour productivity (GDP per worker in USD, co...",122340
7,NBA,Atlanta,Georgia,Atlanta Hawks,2002,35,47,0,0.427,United States,"Labour productivity (GDP per worker in USD, co...",122340
8,NHL,Atlanta,Georgia,Atlanta Thrashers,2003,33,37,8,0.451,United States,"Labour productivity (GDP per worker in USD, co...",124485
9,NFL,Atlanta,Georgia,Atlanta Falcons,2003,5,11,0,0.313,United States,"Labour productivity (GDP per worker in USD, co...",124485
10,MLB,Atlanta,Georgia,Atlanta Braves,2003,101,61,0,0.623,United States,"Labour productivity (GDP per worker in USD, co...",124485
11,NBA,Atlanta,Georgia,Atlanta Hawks,2003,28,54,0,0.341,United States,"Labour productivity (GDP per worker in USD, co...",124485
12,NHL,Atlanta,Georgia,Atlanta Thrashers,2005,41,33,0,0.500,United States,"Labour productivity (GDP per worker in USD, co...",129708
13,NFL,Atlanta,Georgia,Atlanta Falcons,2005,8,8,0,0.500,United States,"Labour productivity (GDP per worker in USD, co...",129708
14,MLB,Atlanta,Georgia,Atlanta Braves,2005,90,72,0,0.556,United States,"Labour productivity (GDP per worker in USD, co...",129708
15,NBA,Atlanta,Georgia,Atlanta Hawks,2005,26,56,0,0.317,United States,"Labour productivity (GDP per worker in USD, co...",129708
16,NHL,Atlanta,Georgia,Atlanta Thrashers,2006,43,28,0,0.524,United States,"Labour productivity (GDP per worker in USD, co...",126717
17,NFL,Atlanta,Georgia,Atlanta Falcons,2006,7,9,0,0.438,United States,"Labour productivity (GDP per worker in USD, co...",126717
18,MLB,Atlanta,Georgia,Atlanta Braves,2006,79,83,0,0.488,United States,"Labour productivity (GDP per worker in USD, co...",126717
19,NBA,Atlanta,Georgia,Atlanta Hawks,2006,30,52,0,0.366,United States,"Labour productivity (GDP per worker in USD, co...",126717

In [25]:
output_notebook()

In [27]:
EconGDPdf

,Country,City,Variable,Season,Value
18,United States,Salt Lake,"GDP per capita (USD, constant prices, constant...",2001,49623
19,United States,Salt Lake,"GDP per capita (USD, constant prices, constant...",2002,50222
20,United States,Salt Lake,"GDP per capita (USD, constant prices, constant...",2003,50310
21,United States,Salt Lake,"GDP per capita (USD, constant prices, constant...",2004,52758
22,United States,Salt Lake,"GDP per capita (USD, constant prices, constant...",2005,55278
...,...,...,...,...,...
9659,United States,Polk,"GDP per capita (USD, constant prices, constant...",2014,69684
9660,United States,Polk,"GDP per capita (USD, constant prices, constant...",2015,75229
9661,United States,Polk,"GDP per capita (USD, constant prices, constant...",2016,76383
9662,United States,Polk,"GDP per capita (USD, constant prices, constant...",2017,73231
9663,United States,Polk,"GDP per capita (USD, constant prices, constant...",2018,73390

In [24]:
FinalGDP.sort_values(by='Percentage', ascending = False)

FinalGDP2001 = FinalGDP[(FinalGDP["Season"] == 2001)]
FinalGDP2002 = FinalGDP[(FinalGDP["Season"] == 2002)]
FinalGDP2003 = FinalGDP[(FinalGDP["Season"] == 2003)]
FinalGDP2004 = FinalGDP[(FinalGDP["Season"] == 2004)]
FinalGDP2005 = FinalGDP[(FinalGDP["Season"] == 2005)]
FinalGDP2006 = FinalGDP[(FinalGDP["Season"] == 2006)]
FinalGDP2007 = FinalGDP[(FinalGDP["Season"] == 2007)]
FinalGDP2008 = FinalGDP[(FinalGDP["Season"] == 2008)]
FinalGDP2009 = FinalGDP[(FinalGDP["Season"] == 2009)]
FinalGDP2010 = FinalGDP[(FinalGDP["Season"] == 2010)]
FinalGDP2011 = FinalGDP[(FinalGDP["Season"] == 2011)]
FinalGDP2012 = FinalGDP[(FinalGDP["Season"] == 2012)]
FinalGDP2013 = FinalGDP[(FinalGDP["Season"] == 2013)]
FinalGDP2014 = FinalGDP[(FinalGDP["Season"] == 2014)]
FinalGDP2015 = FinalGDP[(FinalGDP["Season"] == 2015)]
FinalGDP2016 = FinalGDP[(FinalGDP["Season"] == 2016)]
FinalGDP2017 = FinalGDP[(FinalGDP["Season"] == 2017)]
FinalGDP2018 = FinalGDP[(FinalGDP["Season"] == 2018)]

FinalGDP2018.sort_values(by='Percentage', ascending = False)

,Sport,City,State,Team,Season,Wins,Loss,Ties,Percentage,Country,Variable,Value
1009,NFL,New Orleans,Louisiana,New Orleans Saints,2018,13,3,0,0.813,United States,"GDP per capita (USD, constant prices, constant...",60073
201,NFL,Chicago,Illinois,Chicago Bears,2018,12,4,0,0.750,United States,"GDP per capita (USD, constant prices, constant...",70227
1152,NBA,Milwaukee,Wisconsin,Milwaukee Bucks,2018,60,22,0,0.732,United States,"GDP per capita (USD, constant prices, constant...",61267
658,NBA,Toronto,Ontario,Toronto Raptors,2018,58,24,0,0.707,Canada,"GDP per capita (USD, constant prices, constant...",46210
721,MLS,Atlanta,Georgia,Atlanta Utd,2018,21,7,6,0.706,United States,"GDP per capita (USD, constant prices, constant...",67633
...,...,...,...,...,...,...,...,...,...,...,...,...
460,NHL,Ottawa,Ontario,Ottawa Senators,2018,29,47,0,0.354,Canada,"GDP per capita (USD, constant prices, constant...",45215
204,MLS,Chicago,Illinois,Chicago Fire FC,2018,8,18,8,0.353,United States,"GDP per capita (USD, constant prices, constant...",70227
921,NFL,Jacksonville,Florida,Jacksonville Jaguars,2018,5,11,0,0.313,United States,"GDP per capita (USD, constant prices, constant...",50406
205,NBA,Chicago,Illinois,Chicago Bulls,2018,22,60,0,0.268,United States,"GDP per capita (USD, constant prices, constant...",70227
1112,NBA,Phoenix,Arizona,Phoenix Suns,2018,19,63,0,0.232,United States,"GDP per capita (USD, constant prices, constant...",50714

In [20]:
p = figure(width = 400, height = 400)

In [23]:
p.vbar(x = df["Season"], top=df["Wins"], width=1)

GlyphRenderer(id='p1077', ...)

In [24]:
show(p)