In [1]:
import pandas as pd
import sqlalchemy
# Dependencies
# ----------------------------------
# Imports the method used for connecting to DBs
from sqlalchemy import create_engine

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float 
 
# Create the engine to connect to the PostgreSQL database
engine = sqlalchemy.create_engine('sqlite:///Quick.db')
# https://www.sqlshack.com/introduction-to-sqlalchemy-in-pandas-dataframe/
# Read data from CSV and load into a dataframe object
from sqlalchemy import inspect
inspector = inspect(engine)

In [2]:
# Methord test (make sure the tables are named correctly)
csv_list = ['../Clean_Data/Basketball_Wins_01_18_clean.csv', '../Clean_Data/Football_Wins_01_18_clean.csv',
           '../Clean_Data/MLB_Wins_01_18_Clean.csv', '../Clean_Data/MLS_Wins_01_18_clean.csv', 
            '..Clean_Data/Hockey_Wins_Clean.csv', 
          '../Clean_Data/cleanTitles.csv','../VizTest/EconGDPdf.csv', '../VizTest/FinalGDP.csv',
    '../VizTest/FinalLabor.csv',
            '../US_Can_Econ_Data.csv', '../VizTest/FinalLaborProduct.csv']
name = ['BBall', 'Footie', 'MLB', 'MLS', 'Hockey','titles', 'EconGDP', 'FinalGDP', 
    'FinalLabor', 'EconData', 'LabProduct']

index = 0
for csv in csv_list:
    print(csv)
    print(name[index])
    print('+++++')
    index+=1

../Clean_Data/Basketball_Wins_01_18_clean.csv
BBall
+++++
../Clean_Data/Football_Wins_01_18_clean.csv
Footie
+++++
../Clean_Data/MLB_Wins_01_18_Clean.csv
MLB
+++++
../Clean_Data/MLS_Wins_01_18_clean.csv
MLS
+++++
..Clean_Data/Hockey_Wins_Clean.csv
Hockey
+++++
../Clean_Data/cleanTitles.csv
titles
+++++
../VizTest/EconGDPdf.csv
EconGDP
+++++
../VizTest/FinalGDP.csv
FinalGDP
+++++
../VizTest/FinalLabor.csv
FinalLabor
+++++
../US_Can_Econ_Data.csv
EconData
+++++
../VizTest/FinalLaborProduct.csv
LabProduct
+++++

In [ ]:
# Quick table input into database. DO NOT RERUN WITHOUT MODIFICATION
index = 0
for csv in csv_list:
    data = pd.read_csv(csv)
    name[index]=  data.to_sql(name[index], engine)
    index+=1

In [3]:
# Check input tables
inspector.get_table_names()

['BBall',
 'EconData',
 'EconGDP',
 'FinalLabor',
 'Footie',
 'Hockey',
 'LabProduct',
 'MLB',
 'MLS',
 'titles']

In [4]:
# Check table columns
tables = [inspector.get_table_names()]
for tab in tables[0]:
    columns = inspector.get_columns(tab)
    print('=======================')
    print(tab)
    print('=====================')
    for column in columns:
        print(column["name"], column["type"])

=======================
BBall
=====================
index BIGINT
Season BIGINT
Team TEXT
Matches BIGINT
Wins BIGINT
Loss BIGINT
Percentage FLOAT
=======================
EconData
=====================
index BIGINT
Country TEXT
Geography TEXT
VAR TEXT
Variable TEXT
TIME BIGINT
Value BIGINT
=======================
EconGDP
=====================
index BIGINT
key BIGINT
Sport TEXT
City TEXT
State TEXT
Team TEXT
Season BIGINT
Wins BIGINT
Loss BIGINT
Ties BIGINT
Percentage FLOAT
Country TEXT
Variable TEXT
Value BIGINT
=======================
FinalLabor
=====================
index BIGINT
key BIGINT
Sport TEXT
City TEXT
State TEXT
Team TEXT
Season BIGINT
Wins BIGINT
Loss BIGINT
Ties BIGINT
Percentage FLOAT
Country TEXT
Variable TEXT
Value BIGINT
=======================
Footie
=====================
index BIGINT
Season BIGINT
Team TEXT
Wins BIGINT
Loss BIGINT
Ties BIGINT
Percentage FLOAT
=======================
Hockey
=====================
index BIGINT
year BIGINT
sport TEXT
winner TEXT
winner_metro TEXT
winner_state TEXT
runner_up TEXT
runner_up_metro TEXT
runner_up_state TEXT
final_four3 TEXT
final_four3_metro TEXT
final_four3_state TEXT
final_four4 TEXT
final_four4_metro TEXT
final_four4_state TEXT
=======================
LabProduct
=====================
index BIGINT
key BIGINT
Sport TEXT
City TEXT
State TEXT
Team TEXT
Season BIGINT
Wins BIGINT
Loss BIGINT
Ties BIGINT
Percentage FLOAT
Country TEXT
Variable TEXT
Value BIGINT
=======================
MLB
=====================
index BIGINT
Season BIGINT
Wins BIGINT
Loss BIGINT
Team TEXT
Matches BIGINT
Percentage FLOAT
=======================
MLS
=====================
index BIGINT
Season BIGINT
Team TEXT
Matches BIGINT
Wins BIGINT
Ties BIGINT
Loss BIGINT
LgRank TEXT
Percentage FLOAT
=======================
titles
=====================
index BIGINT
key BIGINT
Country TEXT
City TEXT
Variable TEXT
Season BIGINT
Value BIGINT

In [5]:
# Test query
from sqlalchemy import text
with engine.connect() as con:
    print(con.execute(text("SELECT City, Season AS 'Year', AVG(Percentage) AS 'Win%', \
    AVG(Value) AS 'Productivity'\
    FROM LabProduct\
    WHERE City =\
        GROUP BY City, Season")).fetchall())

[('Atlanta', 2001, 0.4205, 120789.0), ('Atlanta', 2002, 0.51825, 122340.0), ('Atlanta', 2003, 0.432, 124485.0), ('Atlanta', 2004, 0.48, 127751.0), ('Atlanta', 2005, 0.46825, 129708.0), ('Atlanta', 2006, 0.45399999999999996, 126717.0), ('Atlanta', 2007, 0.40875000000000006, 123595.0), ('Atlanta', 2008, 0.5329999999999999, 120026.0), ('Atlanta', 2009, 0.54175, 123008.0), ('Atlanta', 2010, 0.58175, 123830.0), ('Atlanta', 2011, 0.5933333333333333, 123193.0), ('Atlanta', 2012, 0.6433333333333332, 122820.0), ('Atlanta', 2013, 0.43533333333333335, 124810.0), ('Atlanta', 2014, 0.5316666666666666, 128272.0), ('Atlanta', 2015, 0.49966666666666665, 133952.0), ('Atlanta', 2016, 0.5446666666666666, 134234.0), ('Atlanta', 2017, 0.4875, 132225.0), ('Atlanta', 2018, 0.5135, 134827.0), ('Boston', 2001, 0.556, 138384.0), ('Boston', 2002, 0.539, 138822.0), ('Boston', 2003, 0.5386666666666667, 142605.0), ('Boston', 2004, 0.577, 146543.0), ('Boston', 2005, 0.44733333333333336, 149508.0), ('Boston', 2006, 0.417, 151425.0), ('Boston', 2007, 0.6326666666666667, 154428.0), ('Boston', 2008, 0.6626666666666666, 154967.0), ('Boston', 2009, 0.5573333333333332, 158633.0), ('Boston', 2010, 0.5976666666666667, 163476.0), ('Boston', 2011, 0.5816666666666667, 163597.0), ('Boston', 2012, 0.505, 165308.0), ('Boston', 2013, 0.521, 165497.0), ('Boston', 2014, 0.47533333333333333, 164309.0), ('Boston', 2015, 0.5259999999999999, 170017.0), ('Boston', 2016, 0.5856666666666667, 171179.0), ('Boston', 2017, 0.6183333333333333, 168938.0), ('Boston', 2018, 0.621, 170964.0), ('Calgary', 2001, 0.463, 100616.0), ('Calgary', 2002, 0.433, 96362.0), ('Calgary', 2003, 0.555, 102172.0), ('Calgary', 2005, 0.561, 118082.0), ('Calgary', 2006, 0.524, 119745.0), ('Calgary', 2007, 0.512, 118410.0), ('Calgary', 2008, 0.561, 125048.0), ('Calgary', 2009, 0.488, 107374.0), ('Calgary', 2010, 0.5, 115073.0), ('Calgary', 2011, 0.451, 119287.0), ('Calgary', 2012, 0.396, 119597.0), ('Calgary', 2013, 0.427, 126155.0), ('Calgary', 2014, 0.549, 133798.0), ('Calgary', 2015, 0.427, 115589.0), ('Calgary', 2016, 0.549, 110216.0), ('Calgary', 2017, 0.451, 116008.0), ('Calgary', 2018, 0.61, 116689.0), ('Charlotte', 2001, 0.30000000000000004, 118766.0), ('Charlotte', 2002, 0.438, 122307.0), ('Charlotte', 2003, 0.688, 125829.0), ('Charlotte', 2004, 0.329, 132584.0), ('Charlotte', 2005, 0.5025, 139491.0), ('Charlotte', 2006, 0.451, 143128.0), ('Charlotte', 2007, 0.41400000000000003, 142228.0), ('Charlotte', 2008, 0.5885, 149956.0), ('Charlotte', 2009, 0.5185, 144236.0), ('Charlotte', 2010, 0.27, 130403.0), ('Charlotte', 2011, 0.2405, 133239.0), ('Charlotte', 2012, 0.347, 137617.0), ('Charlotte', 2013, 0.637, 133493.0), ('Charlotte', 2014, 0.4355, 133691.0), ('Charlotte', 2015, 0.7615, 136343.0), ('Charlotte', 2016, 0.40700000000000003, 136760.0), ('Charlotte', 2017, 0.5635, 141572.0), ('Charlotte', 2018, 0.45699999999999996, 140677.0), ('Chicago', 2001, 0.5646666666666667, 116885.0), ('Chicago', 2002, 0.40650000000000003, 121894.0), ('Chicago', 2003, 0.45599999999999996, 124036.0), ('Chicago', 2004, 0.4728, 126250.0), ('Chicago', 2005, 0.5225000000000001, 128014.0), ('Chicago', 2006, 0.5471666666666667, 127666.0), ('Chicago', 2007, 0.4661666666666667, 127915.0), ('Chicago', 2008, 0.5536666666666666, 125729.0), ('Chicago', 2009, 0.5238333333333333, 128628.0), ('Chicago', 2010, 0.5728333333333334, 130956.0), ('Chicago', 2011, 0.5388333333333333, 132786.0), ('Chicago', 2012, 0.5690000000000001, 134402.0), ('Chicago', 2013, 0.4928333333333333, 134315.0), ('Chicago', 2014, 0.4751666666666667, 135571.0), ('Chicago', 2015, 0.47533333333333333, 138540.0), ('Chicago', 2016, 0.462, 137889.0), ('Chicago', 2017, 0.43333333333333335, 137029.0), ('Chicago', 2018, 0.4626666666666666, 139769.0), ('Cincinnati', 2001, 0.391, 105424.0), ('Cincinnati', 2002, 0.303, 108748.0), ('Cincinnati', 2003, 0.46299999999999997, 108932.0), ('Cincinnati', 2004, 0.4845, 110147.0), ('Cincinnati', 2005, 0.5695, 111644.0), ('Cincinnati', 2006, 0.497, 110082.0), ('Cincinnati', 2007, 0.441, 109138.0), ('Cincinnati', 2008, 0.369, 108574.0), ('Cincinnati', 2009, 0.5529999999999999, 112122.0), ('Cincinnati', 2010, 0.406, 117553.0), ('Cincinnati', 2011, 0.5255, 121162.0), ('Cincinnati', 2012, 0.612, 121784.0), ('Cincinnati', 2013, 0.622, 122533.0), ('Cincinnati', 2014, 0.5625, 123976.0), ('Cincinnati', 2015, 0.5725, 127148.0), ('Cincinnati', 2016, 0.41300000000000003, 130846.0), ('Cincinnati', 2017, 0.429, 129874.0), ('Cincinnati', 2018, 0.39449999999999996, 130832.0), ('Columbus', 2001, 0.46599999999999997, 101145.0), ('Columbus', 2002, 0.442, 103891.0), ('Columbus', 2003, 0.4105, 105205.0), ('Columbus', 2004, 0.617, 108585.0), ('Columbus', 2005, 0.4245, 110134.0), ('Columbus', 2006, 0.3965, 106680.0), ('Columbus', 2007, 0.441, 105943.0), ('Columbus', 2008, 0.5835, 104493.0), ('Columbus', 2009, 0.495, 107396.0), ('Columbus', 2010, 0.5075, 109295.0), ('Columbus', 2011, 0.427, 111765.0), ('Columbus', 2012, 0.522, 114494.0), ('Columbus', 2013, 0.475, 116691.0), ('Columbus', 2014, 0.5355000000000001, 116640.0), ('Columbus', 2015, 0.487, 118014.0), ('Columbus', 2016, 0.511, 119387.0), ('Columbus', 2017, 0.554, 119136.0), ('Columbus', 2018, 0.5585, 119905.0), ('Dallas', 2001, 0.5017499999999999, 106503.0), ('Dallas', 2002, 0.5627500000000001, 110113.0), ('Dallas', 2003, 0.53025, 111319.0), ('Dallas', 2004, 0.505, 114895.0), ('Dallas', 2005, 0.6220000000000001, 117501.0), ('Dallas', 2006, 0.63825, 123672.0), ('Dallas', 2007, 0.62525, 125875.0), ('Dallas', 2008, 0.51975, 126970.0), ('Dallas', 2009, 0.56925, 121980.0), ('Dallas', 2010, 0.55375, 121776.0), ('Dallas', 2011, 0.52525, 123209.0), ('Dallas', 2012, 0.47475, 124047.0), ('Dallas', 2013, 0.5177499999999999, 125472.0), ('Dallas', 2014, 0.60475, 126154.0), ('Dallas', 2015, 0.4975, 127561.0), ('Dallas', 2016, 0.5655, 127025.0), ('Dallas', 2017, 0.47074999999999995, 128361.0), ('Dallas', 2018, 0.5385, 130635.0), ('Denver', 2001, 0.4695, 117818.0), ('Denver', 2002, 0.453, 119589.0), ('Denver', 2003, 0.54325, 117675.0), ('Denver', 2004, 0.5476666666666666, 115535.0), ('Denver', 2005, 0.572, 118026.0), ('Denver', 2006, 0.5295, 116296.0), ('Denver', 2007, 0.53425, 118664.0), ('Denver', 2008, 0.5015000000000001, 117103.0), ('Denver', 2009, 0.5595, 118662.0), ('Denver', 2010, 0.4345, 120312.0), ('Denver', 2011, 0.50675, 120444.0), ('Denver', 2012, 0.5589999999999999, 121847.0), ('Denver', 2013, 0.58575, 123360.0), ('Denver', 2014, 0.49975, 124030.0), ('Denver', 2015, 0.512, 127104.0), ('Denver', 2016, 0.4455, 126285.0), ('Denver', 2017, 0.48375, 126348.0), ('Denver', 2018, 0.51375, 128377.0), ('Edmonton', 2001, 0.537, 100616.0), ('Edmonton', 2002, 0.506, 96362.0), ('Edmonton', 2003, 0.512, 102172.0), ('Edmonton', 2005, 0.5, 118082.0), ('Edmonton', 2006, 0.39, 119745.0), ('Edmonton', 2007, 0.5, 118410.0), ('Edmonton', 2008, 0.463, 125048.0), ('Edmonton', 2009, 0.329, 107374.0), ('Edmonton', 2010, 0.305, 115073.0), ('Edmonton', 2011, 0.39, 119287.0), ('Edmonton', 2012, 0.396, 119597.0), ('Edmonton', 2013, 0.354, 126155.0), ('Edmonton', 2014, 0.293, 133798.0), ('Edmonton', 2015, 0.378, 115589.0), ('Edmonton', 2016, 0.573, 110216.0), ('Edmonton', 2017, 0.439, 116008.0), ('Edmonton', 2018, 0.427, 116689.0), ('Houston', 2001, 0.4575, 119011.0), ('Houston', 2002, 0.43100000000000005, 115653.0), ('Houston', 2003, 0.4663333333333333, 117445.0), ('Houston', 2004, 0.5426666666666667, 127164.0), ('Houston', 2005, 0.363, 129728.0), ('Houston', 2006, 0.5155, 137745.0), ('Houston', 2007, 0.55975, 145611.0), ('Houston', 2008, 0.57825, 140734.0), ('Houston', 2009, 0.52875, 136658.0), ('Houston', 2010, 0.442, 140136.0), ('Houston', 2011, 0.5075000000000001, 145132.0), ('Houston', 2012, 0.55325, 145859.0), ('Houston', 2013, 0.41075, 147379.0), ('Houston', 2014, 0.5225, 144392.0), ('Houston', 2015, 0.5125, 147505.0), ('Houston', 2016, 0.5375, 142650.0), ('Houston', 2017, 0.5525, 145352.0), ('Houston', 2018, 0.5954999999999999, 148907.0), ('Indianapolis', 2001, 0.4435, 111771.0), ('Indianapolis', 2002, 0.605, 112807.0), ('Indianapolis', 2003, 0.747, 114333.0), ('Indianapolis', 2004, 0.6435, 120073.0), ('Indianapolis', 2005, 0.6875, 119413.0), ('Indianapolis', 2006, 0.5885, 119792.0), ('Indianapolis', 2007, 0.626, 123818.0), ('Indianapolis', 2008, 0.5945, 125905.0), ('Indianapolis', 2009, 0.6325000000000001, 132271.0), ('Indianapolis', 2010, 0.538, 138830.0), ('Indianapolis', 2011, 0.3805, 136951.0), ('Indianapolis', 2012, 0.6465, 135815.0), ('Indianapolis', 2013, 0.6855, 136888.0), ('Indianapolis', 2014, 0.5755, 135669.0), ('Indianapolis', 2015, 0.5245, 130383.0), ('Indianapolis', 2016, 0.506, 129699.0), ('Indianapolis', 2017, 0.4175, 128744.0), ('Indianapolis', 2018, 0.605, 131184.0), ('Jacksonville', 2001, 0.375, 93749.0), ('Jacksonville', 2002, 0.375, 99078.0), ('Jacksonville', 2003, 0.313, 103564.0), ('Jacksonville', 2004, 0.563, 105852.0), ('Jacksonville', 2005, 0.75, 105143.0), ('Jacksonville', 2006, 0.5, 105036.0), ('Jacksonville', 2007, 0.688, 105173.0), ('Jacksonville', 2008, 0.313, 101794.0), ('Jacksonville', 2009, 0.438, 103633.0), ('Jacksonville', 2010, 0.5, 101853.0), ('Jacksonville', 2011, 0.313, 98660.0), ('Jacksonville', 2012, 0.125, 98152.0), ('Jacksonville', 2013, 0.25, 98791.0), ('Jacksonville', 2014, 0.188, 99381.0), ('Jacksonville', 2015, 0.313, 102462.0), ('Jacksonville', 2016, 0.188, 104034.0), ('Jacksonville', 2017, 0.625, 105136.0), ('Jacksonville', 2018, 0.313, 106094.0), ('Las Vegas', 2017, 0.622, 109787.0), ('Las Vegas', 2018, 0.524, 111520.0), ('Memphis', 2001, 0.28, 110360.0), ('Memphis', 2002, 0.341, 112493.0), ('Memphis', 2003, 0.61, 114246.0), ('Memphis', 2004, 0.549, 117480.0), ('Memphis', 2005, 0.598, 119926.0), ('Memphis', 2006, 0.268, 118333.0), ('Memphis', 2007, 0.268, 114715.0), ('Memphis', 2008, 0.293, 114513.0), ('Memphis', 2009, 0.488, 117141.0), ('Memphis', 2010, 0.561, 113569.0), ('Memphis', 2011, 0.621, 113257.0), ('Memphis', 2012, 0.683, 117832.0), ('Memphis', 2013, 0.61, 121415.0), ('Memphis', 2014, 0.671, 121977.0), ('Memphis', 2015, 0.512, 124046.0), ('Memphis', 2016, 0.524, 122656.0), ('Memphis', 2017, 0.268, 120870.0), ('Memphis', 2018, 0.402, 119283.0), ('Milwaukee', 2001, 0.45999999999999996, 108595.0), ('Milwaukee', 2002, 0.429, 110628.0), ('Milwaukee', 2003, 0.45999999999999996, 113202.0), ('Milwaukee', 2004, 0.391, 114922.0), ('Milwaukee', 2005, 0.494, 118731.0), ('Milwaukee', 2006, 0.402, 119456.0), ('Milwaukee', 2007, 0.4145, 118830.0), ('Milwaukee', 2008, 0.48550000000000004, 115853.0), ('Milwaukee', 2009, 0.5275000000000001, 119956.0), ('Milwaukee', 2010, 0.45099999999999996, 119782.0), ('Milwaukee', 2011, 0.5315, 120519.0), ('Milwaukee', 2012, 0.48750000000000004, 121114.0), ('Milwaukee', 2013, 0.32, 120520.0), ('Milwaukee', 2014, 0.503, 118840.0), ('Milwaukee', 2015, 0.41100000000000003, 120741.0), ('Milwaukee', 2016, 0.48150000000000004, 120350.0), ('Milwaukee', 2017, 0.534, 118187.0), ('Milwaukee', 2018, 0.6605, 121000.0), ('Minneapolis', 2001, 0.48266666666666663, 106646.0), ('Minneapolis', 2002, 0.527, 108340.0), ('Minneapolis', 2003, 0.6086666666666667, 112340.0), ('Minneapolis', 2004, 0.535, 116567.0), ('Minneapolis', 2005, 0.4923333333333333, 120238.0), ('Minneapolis', 2006, 0.4526666666666667, 118858.0), ('Minneapolis', 2007, 0.4186666666666667, 120668.0), ('Minneapolis', 2008, 0.486, 119984.0), ('Minneapolis', 2009, 0.48900000000000005, 120245.0), ('Minneapolis', 2010, 0.3873333333333333, 122609.0), ('Minneapolis', 2011, 0.32366666666666666, 123420.0), ('Minneapolis', 2012, 0.47000000000000003, 124541.0), ('Minneapolis', 2013, 0.413, 125958.0), ('Minneapolis', 2014, 0.355, 128423.0), ('Minneapolis', 2015, 0.5179999999999999, 130497.0), ('Minneapolis', 2016, 0.414, 131359.0), ('Minneapolis', 2017, 0.637, 129975.0), ('Minneapolis', 2018, 0.4836666666666667, 132782.0), ('Montreal', 2001, 0.512, 73772.0), ('Montreal', 2002, 0.415, 73637.0), ('Montreal', 2003, 0.543, 72703.0), ('Montreal', 2005, 0.512, 72271.0), ('Montreal', 2006, 0.512, 72466.0), ('Montreal', 2007, 0.573, 72173.0), ('Montreal', 2008, 0.5, 70475.0), ('Montreal', 2009, 0.476, 72697.0), ('Montreal', 2010, 0.537, 72267.0), ('Montreal', 2011, 0.378, 72735.0), ('Montreal', 2012, 0.604, 73457.0), ('Montreal', 2013, 0.561, 73562.0), ('Montreal', 2014, 0.61, 74741.0), ('Montreal', 2015, 0.463, 76992.0), ('Montreal', 2016, 0.573, 78265.0), ('Montreal', 2017, 0.354, 78065.0), ('Montreal', 2018, 0.537, 79471.0), ('Nashville', 2001, 0.4295, 76083.0), ('Nashville', 2002, 0.5485, 79167.0), ('Nashville', 2003, 0.64, 82834.0), ('Nashville', 2004, 0.313, 90111.0), ('Nashville', 2005, 0.424, 92808.0), ('Nashville', 2006, 0.5609999999999999, 89261.0), ('Nashville', 2007, 0.5625, 89444.0), ('Nashville', 2008, 0.6505, 86782.0), ('Nashville', 2009, 0.5365, 83383.0), ('Nashville', 2010, 0.456, 83430.0), ('Nashville', 2011, 0.574, 80002.0), ('Nashville', 2012, 0.354, 82494.0), ('Nashville', 2013, 0.4505, 85685.0), ('Nashville', 2014, 0.349, 88449.0), ('Nashville', 2015, 0.344, 90639.0), ('Nashville', 2016, 0.5315, 92095.0), ('Nashville', 2017, 0.6045, 91520.0), ('Nashville', 2018, 0.568, 88178.0), ('New Orleans', 2001, 0.438, 101878.0), ('New Orleans', 2002, 0.568, 104397.0), ('New Orleans', 2003, 0.5, 112496.0), ('New Orleans', 2004, 0.36, 116602.0), ('New Orleans', 2007, 0.5605, 145158.0), ('New Orleans', 2008, 0.5489999999999999, 154251.0), ('New Orleans', 2009, 0.632, 148879.0), ('New Orleans', 2010, 0.6245, 165613.0), ('New Orleans', 2011, 0.5655, 136370.0), ('New Orleans', 2012, 0.3835, 137420.0), ('New Orleans', 2013, 0.5515, 128585.0), ('New Orleans', 2014, 0.49350000000000005, 126793.0), ('New Orleans', 2015, 0.402, 125084.0), ('New Orleans', 2016, 0.4265, 122943.0), ('New Orleans', 2017, 0.6365, 132149.0), ('New Orleans', 2018, 0.6074999999999999, 134069.0), ('Ottawa', 2001, 0.53, 81767.0), ('Ottawa', 2002, 0.683, 83160.0), ('Ottawa', 2003, 0.585, 80877.0), ('Ottawa', 2005, 0.634, 80703.0), ('Ottawa', 2006, 0.585, 80880.0), ('Ottawa', 2007, 0.524, 80505.0), ('Ottawa', 2008, 0.439, 77768.0), ('Ottawa', 2009, 0.537, 80268.0), ('Ottawa', 2010, 0.39, 80820.0), ('Ottawa', 2011, 0.5, 80560.0), ('Ottawa', 2012, 0.521, 81624.0), ('Ottawa', 2013, 0.451, 81018.0), ('Ottawa', 2014, 0.524, 82477.0), ('Ottawa', 2015, 0.463, 86226.0), ('Ottawa', 2016, 0.537, 87952.0), ('Ottawa', 2017, 0.341, 87773.0), ('Ottawa', 2018, 0.354, 88709.0), ('Phoenix', 2001, 0.5166666666666667, 98272.0), ('Phoenix', 2002, 0.529, 99981.0), ('Phoenix', 2003, 0.417, 103167.0), ('Phoenix', 2004, 0.5355, 104307.0), ('Phoenix', 2005, 0.5323333333333333, 107960.0), ('Phoenix', 2006, 0.5303333333333333, 108548.0), ('Phoenix', 2007, 0.5633333333333334, 109053.0), ('Phoenix', 2008, 0.5020000000000001, 106704.0), ('Phoenix', 2009, 0.5670000000000001, 102149.0), ('Phoenix', 2010, 0.47100000000000003, 103338.0), ('Phoenix', 2011, 0.5306666666666667, 105510.0), ('Phoenix', 2012, 0.4143333333333333, 107364.0), ('Phoenix', 2013, 0.512, 106800.0), ('Phoenix', 2014, 0.4355, 105550.0), ('Phoenix', 2015, 0.384, 105905.0), ('Phoenix', 2016, 0.3595, 106421.0), ('Phoenix', 2017, 0.415, 109431.0), ('Phoenix', 2018, 0.369, 110185.0), ('Pittsburgh', 2001, 0.5286666666666666, 110836.0), ('Pittsburgh', 2002, 0.4896666666666667, 113779.0), ('Pittsburgh', 2003, 0.389, 118310.0), ('Pittsburgh', 2004, 0.6925, 121060.0), ('Pittsburgh', 2005, 0.4566666666666666, 122175.0), ('Pittsburgh', 2006, 0.49566666666666664, 120493.0), ('Pittsburgh', 2007, 0.5393333333333333, 122710.0), ('Pittsburgh', 2008, 0.571, 123592.0), ('Pittsburgh', 2009, 0.507, 126627.0), ('Pittsburgh', 2010, 0.5666666666666665, 134038.0), ('Pittsburgh', 2011, 0.6053333333333333, 134288.0), ('Pittsburgh', 2012, 0.5793333333333334, 134899.0), ('Pittsburgh', 2013, 0.5673333333333334, 136770.0), ('Pittsburgh', 2014, 0.585, 138511.0), ('Pittsburgh', 2015, 0.605, 142571.0), ('Pittsburgh', 2016, 0.594, 141831.0), ('Pittsburgh', 2017, 0.6163333333333333, 145064.0), ('Pittsburgh', 2018, 0.5466666666666667, 149561.0), ('Portland', 2001, 0.598, 102327.0), ('Portland', 2002, 0.61, 103710.0), ('Portland', 2003, 0.5, 108290.0), ('Portland', 2004, 0.329, 112157.0), ('Portland', 2005, 0.256, 112928.0), ('Portland', 2006, 0.39, 113859.0), ('Portland', 2007, 0.5, 113243.0), ('Portland', 2008, 0.659, 115233.0), ('Portland', 2009, 0.61, 114174.0), ('Portland', 2010, 0.585, 113149.0), ('Portland', 2011, 0.44, 113874.0), ('Portland', 2012, 0.392, 115004.0), ('Portland', 2013, 0.6455, 115844.0), ('Portland', 2014, 0.583, 116058.0), ('Portland', 2015, 0.548, 119963.0), ('Portland', 2016, 0.4855, 120794.0), ('Portland', 2017, 0.5785, 121652.0), ('Portland', 2018, 0.61, 126582.0), ('Providence', 2001, 0.37, 88979.0), ('Providence', 2002, 0.464, 91534.0), ('Providence', 2003, 0.55, 92517.0), ('Providence', 2004, 0.417, 96827.0), ('Providence', 2005, 0.656, 96840.0), ('Providence', 2006, 0.563, 98865.0), ('Providence', 2007, 0.6, 96306.0), ('Providence', 2008, 0.517, 96607.0), ('Providence', 2009, 0.517, 100661.0), ('Providence', 2010, 0.383, 103764.0), ('Providence', 2011, 0.338, 104372.0), ('Providence', 2012, 0.382, 104819.0), ('Providence', 2013, 0.544, 104957.0), ('Providence', 2014, 0.559, 104759.0), ('Providence', 2015, 0.529, 105955.0), ('Providence', 2016, 0.456, 106031.0), ('Providence', 2017, 0.471, 101347.0), ('Providence', 2018, 0.456, 99966.0), ('Sacramento', 2001, 0.744, 102691.0), ('Sacramento', 2002, 0.72, 104228.0), ('Sacramento', 2003, 0.671, 107209.0), ('Sacramento', 2004, 0.61, 109360.0), ('Sacramento', 2005, 0.537, 111817.0), ('Sacramento', 2006, 0.402, 113201.0), ('Sacramento', 2007, 0.463, 113685.0), ('Sacramento', 2008, 0.207, 113764.0), ('Sacramento', 2009, 0.305, 115415.0), ('Sacramento', 2010, 0.293, 115672.0), ('Sacramento', 2011, 0.333, 116623.0), ('Sacramento', 2012, 0.341, 115474.0), ('Sacramento', 2013, 0.341, 117449.0), ('Sacramento', 2014, 0.354, 118458.0), ('Sacramento', 2015, 0.402, 121768.0), ('Sacramento', 2016, 0.39, 121802.0), ('Sacramento', 2017, 0.329, 123376.0), ('Sacramento', 2018, 0.476, 125409.0), ('San Antonio', 2001, 0.707, 87744.0), ('San Antonio', 2002, 0.732, 89298.0), ('San Antonio', 2003, 0.695, 91855.0), ('San Antonio', 2004, 0.72, 93505.0), ('San Antonio', 2005, 0.768, 94630.0), ('San Antonio', 2006, 0.707, 97926.0), ('San Antonio', 2007, 0.683, 99352.0), ('San Antonio', 2008, 0.659, 98231.0), ('San Antonio', 2009, 0.61, 96730.0), ('San Antonio', 2010, 0.744, 96142.0), ('San Antonio', 2011, 0.758, 98186.0), ('San Antonio', 2012, 0.707, 98725.0), ('San Antonio', 2013, 0.756, 101220.0), ('San Antonio', 2014, 0.671, 103660.0), ('San Antonio', 2015, 0.817, 105620.0), ('San Antonio', 2016, 0.744, 103841.0), ('San Antonio', 2017, 0.573, 102558.0), ('San Antonio', 2018, 0.585, 105646.0), ('San Diego', 2001, 0.40049999999999997, 112107.0), ('San Diego', 2002, 0.4535, 115680.0), ('San Diego', 2003, 0.3225, 120348.0), ('San Diego', 2004, 0.6435, 124299.0), ('San Diego', 2005, 0.5345, 128256.0), ('San Diego', 2006, 0.7090000000000001, 129556.0), ('San Diego', 2007, 0.617, 130551.0), ('San Diego', 2008, 0.4445, 128406.0), ('San Diego', 2009, 0.638, 128637.0), ('San Diego', 2010, 0.5595, 135513.0), ('San Diego', 2011, 0.469, 135685.0), ('San Diego', 2012, 0.4535, 133834.0), ('San Diego', 2013, 0.516, 136984.0), ('San Diego', 2014, 0.5189999999999999, 138599.0), ('San Diego', 2015, 0.35350000000000004, 141389.0), ('San Diego', 2016, 0.3665, 140860.0), ('San Diego', 2017, 0.438, 143271.0), ('San Diego', 2018, 0.407, 144624.0), ('Seattle', 2001, 0.6093333333333333, 131496.0), ('Seattle', 2002, 0.5, 134511.0), ('Seattle', 2003, 0.5499999999999999, 135646.0), ('Seattle', 2004, 0.5286666666666666, 135529.0), ('Seattle', 2005, 0.5553333333333333, 139845.0), ('Seattle', 2006, 0.47400000000000003, 140730.0), ('Seattle', 2007, 0.47066666666666673, 146549.0), ('Seattle', 2008, 0.3135, 147398.0), ('Seattle', 2009, 0.4736666666666667, 149004.0), ('Seattle', 2010, 0.4606666666666666, 153624.0), ('Seatt

In [17]:
with engine.connect() as con:
    Boston= pd.DataFrame(con.execute(text("SELECT City, Season AS 'Year', AVG(Percentage) AS 'Win%', \
    AVG(Value) AS 'Productivity'\
    FROM LabProduct\
    WHERE City = 'Boston'\
        GROUP BY City, Season")).fetchall())
Boston.head()

     City  Year      Win%  Productivity
0  Boston  2001  0.556000      138384.0
1  Boston  2002  0.539000      138822.0
2  Boston  2003  0.538667      142605.0
3  Boston  2004  0.577000      146543.0
4  Boston  2005  0.447333      149508.0

In [18]:
with engine.connect() as con:
    Dallas= pd.DataFrame(con.execute(text("SELECT City, Season AS 'Year', AVG(Percentage) AS 'Win%', \
    AVG(Value) AS 'Productivity'\
    FROM LabProduct\
    WHERE City = 'Dallas'\
        GROUP BY City, Season")).fetchall())
Dallas.head()

     City  Year     Win%  Productivity
0  Dallas  2001  0.50175      106503.0
1  Dallas  2002  0.56275      110113.0
2  Dallas  2003  0.53025      111319.0
3  Dallas  2004  0.50500      114895.0
4  Dallas  2005  0.62200      117501.0

In [19]:
with engine.connect() as con:
    Pittsburgh= pd.DataFrame(con.execute(text("SELECT City, Season AS 'Year', AVG(Percentage) AS 'Win%', \
    AVG(Value) AS 'Productivity'\
    FROM LabProduct\
    WHERE City ='Pittsburgh'\
        GROUP BY City, Season")).fetchall())
Pittsburgh.head()

         City  Year      Win%  Productivity
0  Pittsburgh  2001  0.528667      110836.0
1  Pittsburgh  2002  0.489667      113779.0
2  Pittsburgh  2003  0.389000      118310.0
3  Pittsburgh  2004  0.692500      121060.0
4  Pittsburgh  2005  0.456667      122175.0

In [15]:
with engine.connect() as con:
    citys =pd.DataFrame(con.execute(text("SELECT City, Season AS 'Year', AVG(Percentage) AS 'Win%', \
    AVG(Value) AS 'Productivity'\
    FROM LabProduct\
    WHERE City IN ('Boston', 'Dallas', 'Pittsburgh', 'Indianapolis', 'San Antonio', 'Charlotte',\
 'Jacksonville', 'Minneapolis', 'Milwaukee', 'Sacramento')  GROUP BY City, Season")).fetchall())
citys

            City  Year      Win%  Productivity
0         Boston  2001  0.556000      138384.0
1         Boston  2002  0.539000      138822.0
2         Boston  2003  0.538667      142605.0
3         Boston  2004  0.577000      146543.0
4         Boston  2005  0.447333      149508.0
..           ...   ...       ...           ...
175  San Antonio  2014  0.671000      103660.0
176  San Antonio  2015  0.817000      105620.0
177  San Antonio  2016  0.744000      103841.0
178  San Antonio  2017  0.573000      102558.0
179  San Antonio  2018  0.585000      105646.0

[180 rows x 4 columns]

In [ ]:
with engine.connect() as con:
    citys =pd.DataFrame(con.execute(text("SELECT City, Season AS 'Year', AVG(Percentage) AS 'Win%', \
    AVG(Value) AS 'Productivity'\
    FROM LabProduct\
    WHERE City IN ('Boston', 'Dallas', 'Pittsburgh', 'Indianapolis', 'San Antonio', 'Charlotte',\
 'Jacksonville', 'Minneapolis', 'Milwaukee', 'Sacramento')  GROUP BY City, Season")).fetchall())
citys

In [6]:
# DataFrame and csv creation
with engine.connect() as con:
    PerCapYearWins = pd.DataFrame((con.execute(text("SELECT City, \
            Season AS 'Year', AVG(Percentage) AS 'Win%',\
            AVG(Value) AS 'GDP_per_capita'\
            FROM EconGDP\
            GROUP BY City, Season")).fetchall()))
PerCapYearWins.to_csv('PerCapYearWins')
PerCapYearWins.head()

      City  Year     Win%  GDP_per_capita
0  Atlanta  2001  0.42050         64336.0
1  Atlanta  2002  0.51825         63886.0
2  Atlanta  2003  0.43200         64511.0
3  Atlanta  2004  0.48000         65828.0
4  Atlanta  2005  0.46825         66977.0

In [9]:
PerCapYearWins.tail()

         City  Year   Win%  GDP_per_capita
558  Winnipeg  2014  0.524         39730.0
559  Winnipeg  2015  0.427         40622.0
560  Winnipeg  2016  0.488         40385.0
561  Winnipeg  2017  0.634         40922.0
562  Winnipeg  2018  0.573         40801.0

In [7]:
# DataFramen and csv creation
with engine.connect() as con:
    EmployWins = pd.DataFrame(con.execute(text("SELECT City, Season AS 'Year', AVG(Percentage) AS 'Win%', \
        AVG(Value) AS 'Employment'\
        FROM FinalLabor\
        GROUP BY City, Season")).fetchall())
EmployWins.to_csv('EmploymentWins')
EmployWins.head()

      City  Year     Win%  Employment
0  Atlanta  2001  0.42050   2686719.0
1  Atlanta  2002  0.51825   2670925.0
2  Atlanta  2003  0.43200   2687530.0
3  Atlanta  2004  0.48000   2764654.0
4  Atlanta  2005  0.46825   2876385.0

In [26]:
years= [2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016,
 2017, 2018,]

p = figure(width = 400, height = 400)
p.title.text = 'Click on legend entries to mute the corresponding lines'
p = figure(width=800, height=250, x_axis_type="linear")
p.line(years, Boston['Productivity'] , line_width=2, alpha=0.8, muted_alpha=0.2, legend_label="Boston", line_color = 'deepskyblue')
p.line(years, Dallas['Productivity'], line_width=2, alpha=0.8, muted_alpha=0.2, legend_label="Dallas", line_color ='mediumblue')
# p.line(years, city[] , line_width=2, alpha=0.8, muted_alpha=0.2, legend_label="Pittsburgh", line_color ='darkcyan')
# p.line(years, city_main_df.iloc[:,3] , line_width=2, alpha=0.8, muted_alpha=0.2, legend_label="Indianapolis", line_color ='lime')
# p.line(years, city_main_df.iloc[:,4] , line_width=2, alpha=0.8, muted_alpha=0.2, legend_label="San Antonio", line_color ='forestgreen')
# p.line(years, city_main_df.iloc[:,5] , line_width=2, alpha=0.8, muted_alpha=0.2, legend_label="Charlotte", line_color ='coral')
# p.line(years, city_main_df.iloc[:,6] , line_width=2, alpha=0.8, muted_alpha=0.2, legend_label="Jacksonville", line_color ='red')
# p.line(years, city_main_df.iloc[:,7] , line_width=2, alpha=0.8, muted_alpha=0.2, legend_label="Minneapolis", line_color ='orange')
# p.line(years, city_main_df.iloc[:,8] , line_width=2, alpha=0.8, muted_alpha=0.2, legend_label="Milwaukee", line_color ='salmon')
# p.line(years, city_main_df.iloc[:,9] , line_width=2, alpha=0.8, muted_alpha=0.2, legend_label="Sacramento", line_color ='tomato')



p.legend.location = "top_left"
p.legend.click_policy="hide"


show(p)

In [8]:
with engine.connect() as con:
    Productivity = pd.DataFrame(con.execute(text("SELECT City, Season AS 'Year', AVG(Percentage) AS 'Win%', \
    AVG(Value) AS 'Productivity'\
    FROM LabProduct\
        GROUP BY City, Season")).fetchall())
Productivity.to_csv('ProdWins')
Productivity.head()

      City  Year     Win%  Productivity
0  Atlanta  2001  0.42050      120789.0
1  Atlanta  2002  0.51825      122340.0
2  Atlanta  2003  0.43200      124485.0
3  Atlanta  2004  0.48000      127751.0
4  Atlanta  2005  0.46825      129708.0

In [16]:
from bokeh.palettes import Spectral4
from bokeh.plotting import figure, show
from bokeh.layouts import column
from bokeh.models import Arrow, NormalHead, OpenHead, VeeHead
from bokeh.models.annotations import Label
from bokeh.models.annotations import Label
from bokeh.plotting import figure
years= [2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016,
 2017, 2018,]

p = figure(width = 400, height = 400)
p.title.text = 'Click on legend entries to mute the corresponding lines'
p = figure(width=800, height=250, x_axis_type="linear")
#p.line(citys['Year'], city_main_df.iloc[:,0] , line_width=2, alpha=0.8, muted_alpha=0.2, legend_label="Boston", line_color = 'deepskyblue')
p.line(years, citys[citys['City']=='Dallas'], line_width=2, alpha=0.8, muted_alpha=0.2, legend_label="Dallas", line_color ='mediumblue')
# p.line(years, city[] , line_width=2, alpha=0.8, muted_alpha=0.2, legend_label="Pittsburgh", line_color ='darkcyan')
# p.line(years, city_main_df.iloc[:,3] , line_width=2, alpha=0.8, muted_alpha=0.2, legend_label="Indianapolis", line_color ='lime')
# p.line(years, city_main_df.iloc[:,4] , line_width=2, alpha=0.8, muted_alpha=0.2, legend_label="San Antonio", line_color ='forestgreen')
# p.line(years, city_main_df.iloc[:,5] , line_width=2, alpha=0.8, muted_alpha=0.2, legend_label="Charlotte", line_color ='coral')
# p.line(years, city_main_df.iloc[:,6] , line_width=2, alpha=0.8, muted_alpha=0.2, legend_label="Jacksonville", line_color ='red')
# p.line(years, city_main_df.iloc[:,7] , line_width=2, alpha=0.8, muted_alpha=0.2, legend_label="Minneapolis", line_color ='orange')
# p.line(years, city_main_df.iloc[:,8] , line_width=2, alpha=0.8, muted_alpha=0.2, legend_label="Milwaukee", line_color ='salmon')
# p.line(years, city_main_df.iloc[:,9] , line_width=2, alpha=0.8, muted_alpha=0.2, legend_label="Sacramento", line_color ='tomato')


data_label = Label(
    x=2008,  # place the label at the same x coordinates as the recession
    y=90000,  # place the label at the same y coordinates as the circle
    x_offset=12,  # offset the label from the circle center by 12 pixels in the x direction
    text="2008",
    text_baseline="middle",  # align the text vertically to the middle of the circle
    text_color="olive",  # use a standard text property for the text color
)
p.add_layout(data_label)


# data_label = Label(
#     x=2008,  # place the label at the same x coordinates as the recession
#     y=90000,  # place the label at the same y coordinates as the circle
#     x_offset=12,  # offset the label from the circle center by 12 pixels in the x direction
#     text="2008",
#     text_baseline="middle",  # align the text vertically to the middle of the circle
#     text_color="olive",  # use a standard text property for the text color
# )
# p.add_layout(data_label)



arrow = Arrow(
    end=OpenHead(line_color="black", line_width=3),  # ðŸ” try using  OpenHead or VeeHead instead of OpenHead
    line_width=3,
    x_start=2008,
    y_start=90000,  # the start of the arrow, defined in data coordinates
    x_end=2008,
    y_end=40000,  # the tip of the arrow is at the minimum of the curve
)
p.add_layout(arrow)

p.legend.location = "top_left"
p.legend.click_policy="mute"


show(p)

SerializationError: can't serialize <class 'pandas.core.frame.DataFrame'>